@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/* Self explanatory */

#app-page-wrapper , .apply-container{
    /*  100 vertical height - header height - footer height  */
    min-height: calc(100vh - 80px - 141.25px);
}

.product-type-select{
    background-color: #fe8829 ;
    border-radius: 5px;
}

.product-type-select:hover {
    background-color: #E96800;
    color: #fff;
}

.quote-tab-info-line li a{
    color: #4A4A4A;
}

.quote-tab-info-line li.active a{
    border: 0;
    border-bottom: 4px solid #19B4FA;
}

.quote-tab-info-line li.active a:hover{
    border: 0;
    border-bottom: 4px solid;
    border-color: #19B4FA;

}


.quote-info-bar{
    font-size: 32px;
    font-size: 2rem;
    font-weight: 500;
    background: #fff;
}

.quote-plan-header{
    background: #ffd0aa;
}

.quote-plan-buy{
    background-color: #fe8829 ;
    border-radius: 5px;
}

.quote-plan-buy:hover{
    background-color: #E96800;
    color: #fff;
}

.quote-plan-info li {
    background-color: #F8F9FA;
}

#plan-details-primary-apply {
    color: #fff;
    border: 2px solid transparent;
    font-size: 28.8px;
    font-size: 1.8rem;
    padding: 16px 72px;
    padding: 1rem 4.5rem;
    border-radius: 25px;
    background-color: #FF9900;
    margin-top: 25px;
}

.logo-container{
    float: left;
    width: 185px;
    padding-top: 16px;
}

.custom-check input[type=checkbox].css-checkbox + label.css-label{
    color: #2f2f2f;
}

/*masum*/
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}
.mb-30{
    margin-bottom: 30px;
}
.quote-container{
    border: 1px solid #d0caca;
    border-radius: 4px;
    height: 100%;
    background: #e0f0ff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.quote-container:hover{
    box-shadow: none;
}
.qt-plan-logo{
    width: 100%;
    height: 90px;
    text-align: center;
    padding: 21px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.qt-plan-logo ~ hr{
    border-color: #cabbbb;
    margin-top: 0;
}
.qt-plan-logo img{
    max-width: 80%;
    max-height: 100%;

}
.plan-single-info{
    margin: 15px auto;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    width: 90%;
}
.fee{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 15px 0;
}
.plan-select-btn{
    text-align: center;
    background: #28a745;
    border-radius: 28px;
    font-weight: bold;
    width: 55%;
    margin: 10px auto 25px;
}
.plan-select-btn a{
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 5px;
}
.quote-plan-details{
    padding: 15px 10px;
}
.deductible{
    padding: 5px 10px;
    margin-bottom: 0;
    font-weight: bold;
}
.policy-max{
    font-size: 12px;
    padding: 5px 10px 0 10px;
    margin-bottom: 0;
}
.info-icon{
    color: #5398f3;
    cursor: pointer;
    font-size: 18px;
    margin-right: 4px;
}

#month_plan_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#month_plan_list > [class*='col-'] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.qt-text-primary {
    color: #19B4FA !important;
}

.qt-btn-primary {
    color: #fff;
    background-color: #19b4fa;
    border-color: #19b4fa;
}

.qt-btn-primary:hover,
.qt-btn-primary:active,
.qt-btn-primary:focus {
    color: #fff;
    background-color: #05a1e8;
    border-color: #0599db;
}

.cur-p {
    cursor: pointer !important;
}

#mainmenu li {
    padding-top: 15px;
}

#mainmenu li a {
    text-decoration: none !important;
    color: #19B4FA !important;
    font-weight: bold;
}

.mobile-right-link {
    font-size: 16px;
    line-height: 46px;
    font-weight: bold;
}

@media (min-width: 991px) {
    .mobile-right-link {
        display: none;
    }
}

img {
    max-width: 100%;
}
.qt-d-inline-block{
    display: inline-block !important;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.qt-btn-tertiary, .qt-btn-tertiary:hover,
.qt-btn-tertiary:active, .qt-btn-tertiary:focus{
    color: #fff;
}
.qt-btn-tertiary {
    background-color: #fe8829;
    border-color: #fe8829;
}
.qt-btn-tertiary:hover {
    background-color: #fe7303;
    border-color: #f36d01;
}
.qt-btn-tertiary:active,
.qt-btn-tertiary:focus {
    background-color: #f36d01;
    border-color: #e66701;
}


/* bootstrap-4 card */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}
.card > hr {
    margin-right: 0;
    margin-left: 0
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    border-radius: 8px;
}
.card-title {
    margin-bottom: .75rem
}
.card-text:last-child {
    margin-bottom: 0
}
.card-link:hover {
    text-decoration: none
}
.card-link + .card-link {
    margin-left: 1.25rem
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125)
}
.card-header:first-child {
    border-radius: calc(5px - 1px) calc(5px - 1px) 0 0
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125)
}
.card-footer:last-child {
    border-radius: 0 0 calc(5px - 1px) calc(5px - 1px)
}
.card-img {
    width: 100%;
    border-radius: calc(5px - 1px)
}

@media (max-height: 768px) and (min-width: 992px) {
    #qt-plan-details {
        transform: scale(0.7);
        top: 10px;
    }
}

