$svg-footer-height: 25px;
$svg-footer-width: 25px;
$font-sm: 13px;

svg{
  height: $svg-footer-height !important;
  width: $svg-footer-width  !important;
}
.footer-font-size{
  font-size: $font-sm;
}
#product_logo{
  background-color: #f8f8f8;
}
.product_item{
  color: #9b9b9b;
}