$fixed-header-body-spacing: 57.55px;
$navbar-items-spacing: 15px;

$svg-dimension: 15px;
$svg-footer-height: 25px;
$svg-footer-width: 25px;

$fonts: (font-xl: 48px, font-lg: 36px,
        font-md: 24px, font-mm: 20px,
        font-sm: 16px, font-xs: 12px,
        font-18: 18px, font-22: 22px,);

$font-weight: 400 600 700;

$qt-border: rgba(136, 136, 136, 0.46);

$theme-colors: map-merge(("white": $white,), $theme-colors);
$product-logo-bgc: #f8f8f8;
