@import "../../../global_static_libs/bootstrap/scss/functions";
@import "../../../global_static_libs/bootstrap/scss/variables";
@import "../../../global_static_libs/bootstrap/scss/mixins/transition";
@import "../../../global_static_libs/bootstrap/scss/mixins/breakpoints";
@import "../../../global_static_libs/bootstrap/scss/mixins/box-shadow";
@import "qt-variables";
@import "qt-mixins";

@each $cls, $size in $fonts {
    .#{$cls} {
        font-size: $size !important;
    }
}

@each $fw in $font-weight {
    .font-wight-#{$fw} {
        font-weight: $fw !important;
    }
}

img {
    max-width: 100%;
}

a:hover {
    text-decoration: none;
}

.line-height-1 {
    line-height: 1;
}

.overflow-hidden {
    overflow: hidden;
}

.transition {
    @include transition($transition-base);
}

.outline-0 {
    outline: 0 !important;
}

.cur-p {
    cursor: pointer !important;
}

input[type="date"] {
    &::-webkit-input-placeholder {
        visibility: hidden !important;
    }
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}

.qt-border {
    border-color: $qt-border !important;
}

#QUOTE_TURBO {
    //full vertical height - header height - header margin - footer height - footer margin
    min-height: calc(100vh - 60px - 0px - 72px - 3rem);
}

svg {
    width: $svg-dimension;
    height: $svg-dimension;
}

@each $col in map-keys($theme-colors) {
    .#{$col} {
        path {
            fill: map_get($theme-colors, $col);
        }
    }
}

.heading-slogan {
    line-height: 1.4;
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            border-bottom: 4px solid transparent;
            @include transition($btn-transition);
            &:hover, &:focus {
                color: $primary;
                border-color: $primary;
            }
        }
    }
}

.vertical-center {
    @include vertical-center
}

@media (max-width: map_get($grid-breakpoints, lg)) {
    body {
        padding-top: $fixed-header-body-spacing;
    }
    header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 2;
        @include box-shadow(0 2px 4px 0 #d8d8d8);
        #navbar_items {
            background: $tertiary;
            margin: 0 -#{$navbar-items-spacing};
            padding: 0 $navbar-items-spacing * 2;
            .nav-item {
                .nav-link {
                    color: $white !important;
                    text-align: center;
                    &:hover, &:focus {
                        border-color: $white !important;
                    }
                }
            }
        }
    }
    .responsive-font-xl {
        font-size: 33px !important;
        font-weight: 700 !important;
    }
}

@each $breakpoint in map-keys(map-remove($grid-breakpoints, xs, xl)) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        .border#{$infix} {
            border-width: $border-width !important;
            border-style: solid !important;
        }
        .border#{$infix}-0 {
            border: 0 !important;
        }
        .border#{$infix}-top {
            border-top-width: $border-width !important;
            border-style: solid !important;
        }
        .border#{$infix}-right {
            border-right-width: $border-width !important;
            border-style: solid !important;
        }
        .border#{$infix}-bottom {
            border-bottom-width: $border-width !important;
            border-style: solid !important;
        }
        .border#{$infix}-left {
            border-left-width: $border-width !important;
            border-style: solid !important;
        }
    }
}