{% extends 'base_nhaquote.html' %}
{% load static %}
{% load i18n hp_tags %}
{% block title %}
    Apply For Plan {{ plan.Name }}{% if plan.Plan %}-Plan {{ plan.Plan }}{% endif %} |  {{ block.super }}
{% endblock title %}
{% block extra_css %}
    <style type="text/css">
    .apply-details-summary{
        min-height: auto;
        background: #f8f8f8;
        border-left: 7px solid #19b4fa;
        border-bottom: 7px solid #19b4fa;
        border-radius: 15px;
        box-shadow: 3px -3px 10px 0px rgba(0, 0, 0, 0.4);
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -ms-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
        transition: .4s ease-in-out;
        }
    {% comment %}.apply-details-summary:hover{
        box-shadow: none;
    }{% endcomment %}
    @media (max-width: 992px) {
        .img-margin{
            margin-top: 40px;
        }
    }
    .show-plan-cost-details + tr {
        position: absolute;
        z-index: 50;
        overflow: hidden;
    }
    .show-plan-cost-details + tr > td > table {
        background: #fff;
        margin-top: -100%;
        -webkit-transition: all 200ms;
        -moz-transition: all 200ms;
        -ms-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms;
    }
    .show-plan-cost-details:hover + tr {
        box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.7);
    }
    .show-plan-cost-details:hover + tr > td {
        background-color: #fff;
        padding: 20px;
    }
    .show-plan-cost-details:hover + tr > td > table {
        margin-top: 0 !important;
    }
    .third-div {
        width: 90%;
        background: rgba(25, 180, 250, 0.06);
        border-radius: 19px;
        margin: 25px 20px 0;
        padding: 0 30px 10px;
        box-shadow: 0 0 15px rgba(102, 16, 242, 0.48);
        -webkit-box-shadow: 0 0 15px rgba(102, 16, 242, 0.48);
        -ms-box-shadow: 0 0 15px rgba(102, 16, 242, 0.48);
        -moz-box-shadow: 0 0 15px rgba(102, 16, 242, 0.48);
    }
    .apply-add-on-plan-heading {
        margin: 0 -30px;
        padding: 10px 30px;
        background-color: rgba(102, 16, 242, 0.12);
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
    }
    .apply-add-on-plan-heading > span {
        text-decoration: none;
        font-weight: 700;
    }
    .individual-add-on-plan {
        border-color: #000;
    }
    </style>
{% endblock extra_css %}
{% block top-menu-block %}{% endblock %}
{% block container %}
    <div class="container apply-container">

        {% comment %}<div>
            <span id="variation_key" data-variation_key="1" class="none"></span>
            <span id="js-plan-max-duration" class="none"></span>
            <a href="{% url 'quotes:plan_quote' ins_type=quote_request_form_data.Ins_Type %}"
               class="apply-shopping-link" id="js-apply-continue-shopping-link">Continue Shopping
            </a>

        </div>{% endcomment %}

        <div class="apply-details-header my-50 text-center">
            <h2 class="text-19">Review and Start Application</h2>
            <p>Please review the following information before starting your application.</p>
        </div>
        <div class="row my-50">
            <div class="col-lg-8">
                <div style="font-weight: 500" class="apply-details-summary js-apply-details-summary">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 apply-details-plan-summary first-div" style="border-right: 1px solid #c2c2c2;margin-right: -1px">
                            <table class="table quote-price-breakdown-table">
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="carrierLogo">
                                            <img alt="{{ plan.Name }}"
                                                 src="/static/quotes/img/stm-transparent/{{ plan.Name|plan_name_for_img }}.png"
                                                 class="carrier-logo-image">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% if quote_request_form_data.Ins_Type == 'stm' %}
                                            <a href="{% url 'quotes:stm_plan' plan.general_url %}">
                                                <span class="emphasize">{{ plan.Name }}{% if plan.Plan %}-Plan {{ plan.Plan }}{% endif %}</span>
                                                (Details)
                                            </a>
                                        {% else %}
                                            <a href="{% url 'quotes:stm_plan' plan.unique_url %}">
                                                <span class="emphasize">{{ plan.Name }}{% if plan.Plan %}-Plan {{ plan.Plan }}{% endif %}</span>
                                                (Details)
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="cur-p show-plan-cost-details">
                                    <td>
                                        <span style="border-bottom: 1px dashed #999">{% if plan.Payment_Option != "2" %}Monthly{% endif %} Premium:</span>
                                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="font-size: 13px;"></span>
                                    </td>
                                    {% comment %}<td class="text-right emphasize">${% plan_actual_premium %}</td>{% endcomment %}
                                    <td class="text-right emphasize">${{ plan.actual_premium }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table class="w100">
                                            <tr>
                                                <td>Plan Premium:</td>
                                                <td class="text-right emphasize">${{ plan.Premium }}</td>
                                            </tr>
                                            {% if plan.Association_Fee and plan.Association_Fee != '0.00' %}
                                                <tr>
                                                    <td>Association Fee:</td>
                                                    <td class="text-right emphasize">
                                                        <span>${{ plan.Association_Fee }}</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if plan.administration_fee %}
                                                <tr>
                                                    <td>Administration Fee:</td>
                                                    <td class="text-right emphasize">
                                                        <span>${{ plan.administration_fee }}</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if plan.Administrative_Fee %}
                                                <tr>
                                                    <td>Administrative Fee:</td>
                                                    <td class="text-right emphasize">
                                                        <span>${{ plan.Administrative_Fee }}</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if plan.monthly_network_fee %}
                                                <tr>
                                                    <td>Network Fee:</td>
                                                    <td class="text-right emphasize">
                                                        <span>${{ plan.monthly_network_fee }}</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if plan.TelaDoc_Fee %}
                                                <tr>
                                                    <td>TelaDoc Fee:</td>
                                                    <td class="text-right emphasize">
                                                        <span>${{ plan.TelaDoc_Fee }}</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if plan.RxAdvocacy_Fee %}
                                                <tr>
                                                    <td>Rx Advocacy Fee:</td>
                                                    <td class="text-right emphasize">
                                                        <span>${{ plan.RxAdvocacy_Fee }}</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if plan.ChoiceValueSavings_Fee and plan.ChoiceValueSavings_Fee != '0.00' %}
                                                <tr>
                                                    <td>Choice Value Savings Fee:</td>
                                                    <td class="text-right emphasize">
                                                        <span>${{ plan.ChoiceValueSavings_Fee }}</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if plan.ChoiceValue_AdminFee and plan.ChoiceValue_AdminFee != '0.00' %}
                                                <tr>
                                                    <td>Choice Value Admin Fee:</td>
                                                    <td class="text-right emphasize">
                                                        <span>${{ plan.ChoiceValue_AdminFee }}</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if plan.RealValueSavings_Fee and plan.RealValueSavings_Fee != '0.00' %}
                                                <tr>
                                                    <td>Real Value Savings Fee:</td>
                                                    <td class="text-right emphasize">
                                                        <span>${{ plan.RealValueSavings_Fee }}</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if plan.RealValueSavings_AdminFee and plan.RealValueSavings_AdminFee != '0.00' %}
                                                <tr>
                                                    <td>Real Value Savings Admin Fee:</td>
                                                    <td class="text-right emphasize">
                                                        <span>${{ plan.RealValueSavings_AdminFee }}</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if plan.VBP_Fee and plan.VBP_Fee != '0.00' %}
                                                <tr>
                                                    <td>VBP Fee:</td>
                                                    <td class="text-right emphasize">
                                                        <span>${{ plan.VBP_Fee }}</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if plan.Medsense_Fee and plan.Medsense_Fee != '0.00' %}
                                                <tr>
                                                    <td>Medsense Fee:</td>
                                                    <td class="text-right emphasize">
                                                        <span>${{ plan.Medsense_Fee }}</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if plan.GapAffordPlus_Fee and plan.GapAffordPlus_Fee != '0.00' %}
                                                <tr>
                                                    <td>Gap Afford Plus Fee:</td>
                                                    <td class="text-right emphasize">
                                                        <span>${{ plan.GapAffordPlus_Fee }}</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if plan.GapAffordPlus_AdminFee and plan.GapAffordPlus_AdminFee != '0.00' %}
                                                <tr>
                                                    <td>Gap Afford Plus AdminFee:</td>
                                                    <td class="text-right emphasize">
                                                        <span>${{ plan.GapAffordPlus_AdminFee }}</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{% if plan.Payment_Option != "2" %}One Time{% endif %} Enrollment Fee:</td>
                                    <td class="text-right emphasize">${{ plan.Enrollment_Fee }}</td>
                                </tr>

                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                        <div class="col-sm-6 col-xs-12 apply-details-census-summary hidden-xs">
                            <table class="table apply-census-table">
                                <tbody>
                                <tr>
                                    <td class="info-label">Location</td>
                                    <td class="info-value">
                                        {{ quote_request_form_data.Zip_Code }}/{{ quote_request_form_data.State }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="info-label">Primary Applicant</td>
                                    <td class="info-value">
                                        {% form_date_field_value quote_request_form_data.Applicant_DOB %} {{ quote_request_form_data.Applicant_Gender }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="info-label">Coverage Start</td>
                                    <td class="info-value">
                                        {% form_date_field_value quote_request_form_data.Effective_Date %}
                                    </td>
                                </tr>
                                {% if quote_request_form_data.Ins_Type == 'stm' %}
                                    <tr id="js-apply-effectiveEnd">
                                        <td class="info-label">Coverage End</td>
                                        <td class="info-value">
                                        <span id="js-apply-original-effectiveEnd">
                                            {% plan_coverage_end_date %}
                                        </span>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="info-label">Payment Options</td>
                                    <td class="info-value">
                                        {% if quote_request_form_data.Payment_Option == '1' %}
                                            {% trans "Monthly" %}
                                        {% elif quote_request_form_data.Payment_Option == '2' %}
                                            {% trans "Single Up Front" %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
{#                                        <a href="{% url 'quotes:plans' %}" id="#js-apply-change-info">Change Info#}
{#                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>#}
{#                                        </a>#}
                                    </td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        {% if selected_addon_plans %}
                            <div class="col-sm-12 col-xs-12 third-div">
                                <h3 class="apply-add-on-plan-heading">
                                    <span data-container="body" data-placement="top"
                                          href="javascript:void(0);" data-toggle="popover"
                                          data-content="Add-on Policy is billed separately.
                                          if the main STM policy terminates or is canceled,
                                          it will not automatically cancel your Add-on Policy,
                                          unless requested by you.">
                                        Add-On Plan{{ selected_addon_plans|pluralize }}
                                    </span>
                                    {% if quote_request_form_data.Ins_Type == 'stm' %}
                                        <a href="{% url 'quotes:stm_plan' plan.general_url %}#add-on-plan-container"
                                           style="font-size: 16px;">
                                    {% else %}
                                        <a href="{% url 'quotes:stm_plan' plan.unique_url %}#add-on-plan-container"
                                           style="font-size: 16px;">
                                    {% endif %}
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                </h3>
                                {% for add_on in selected_addon_plans %}
                                    <div class="row">
                                        <div class="col-sm-12 {% if not forloop.last %}individual-add-on-plan{% endif %}">
                                            <h4 class="add-on-plan-name ">
                                                {{ add_on.Name }}
                                                <a href="/static/quotes/add_on_brochure/{{ add_on.carrier_name|add_on_name_for_brochure }}.pdf"
                                                   target="_blank">
                                                    <small>(details)</small>
                                                </a>
                                            </h4>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <span>Premium</span>
                                                    : ${{ add_on.actual_premium }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="col-xs-12 apply-details-census-summary apply-info-bottom hidden-sm hidden-md hidden-lg">
                            <table class="table apply-census-table">
                                <tbody>
                                <tr>
                                    <td class="info-label">Location</td>
                                    <td class="info-value">
                                        {{ quote_request_form_data.Zip_Code }}/{{ quote_request_form_data.State }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="info-label">Primary Applicant</td>
                                    <td class="info-value">
                                        {% form_date_field_value quote_request_form_data.Applicant_DOB %} {{ quote_request_form_data.Applicant_Gender }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="info-label">Coverage Start</td>
                                    <td class="info-value">
                                        {% form_date_field_value quote_request_form_data.Effective_Date %}
                                    </td>
                                </tr>

                                {% if quote_request_form_data.Ins_Type == 'stm' %}
                                    <tr id="js-apply-effectiveEnd">
                                        <td class="info-label">Coverage End</td>
                                        <td class="info-value">
                                        <span id="js-apply-original-effectiveEnd">
                                            {% plan_coverage_end_date %}
                                        </span>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="info-label">Payment Options</td>
                                    <td class="info-value">
                                        {% if quote_request_form_data.Payment_Option == '1' %}
                                            {% trans "Monthly" %}
                                        {% elif quote_request_form_data.Payment_Option == '2' %}
                                            {% trans "Single Up Front" %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url 'quotes:plans' %}" id="#js-apply-change-info">CHANGE INFO</a>
                                    </td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
             <div id="applyCta" style="margin-top: 70px">
            <a class="btn btn-default js-apply-button vimm-nim-width-btn btn-orange" id="applyButton"
                    {#                            {% if quote_request_form_data.Ins_Type == 'stm' %}#}
                    {#                               href="{% url 'quotes:stm_application' plan.general_url %}">#}
                    {#                            {% else %}#}
               href="{% url 'quotes:stm_application' plan.unique_url %}">
                {#                            {% endif %}#}
                <span class="fa fa-lock"></span>
                <span class="js-apply-text apply-button-text font-weight-bold">Start Secure Application</span>
            </a>
        </div>
            </div>

            <div class="col-lg-4">
                {% comment %}<div class="apply-right-bar-wrapper-new">
                    <div class="apply-what-to-know"><h3 class="text-19">Swift &amp; Easy Application</h3>
                        <ul class="list-image">
                            <li>Check for eligibility in seconds</li>
                            <li>Get approval in minutes</li>
                            <li>Be enrolled today!</li>
                        </ul>
                    </div>
                </div>
                <div class="apply-guarantee">
                    <div class="row" id="nations-guarantee">
                        <div class="nations-guarantee-text hccadvantage">
                            <p>
                                <span class="emphasize">10 day Risk Free Cancellation</span>
                                <br>
                                <small>30 days Risk Free Cancellation for USA+ Dental</small>
                            </p>
                        </div>
                    </div>
                </div>{% endcomment %}
                <div class="w100 text-center img-margin">
                    <img src="{% static 'quotes/img/swift_easy.png' %}" alt="">
                    <img src="{% static 'quotes/img/risk-free.png' %}" alt="" style="margin: 50px auto 0" height="200px">
                </div>
            </div>

        </div>
        <!------Xtraaaaaaa------>
       {% comment %} <div class="row">
            <div class="col-md-8">
                <div class="apply-right-bar-wrapper-new">
                    <div class="" style="display: flex;flex-direction: row;padding: 20px 10px">
                        <div style="display: flex;flex-direction: column;width: 50%">
                            <div class="carrierLogo">
                                            <img alt="{{ plan.Name }}"
                                                 src="/static/quotes/img/stm-transparent/{{ plan.Name|plan_name_for_img }}.png"
                                                 class="carrier-logo-image">
                                        </div>
                            <div class="">
                                <h3>
                                    {% if quote_request_form_data.Ins_Type == 'stm' %}
                                            <a href="{% url 'quotes:stm_plan' plan.general_url %}">
                                                <span class="emphasize">{{ plan.plan_name }}</span>
                                                (Details)
                                            </a>
                                        {% else %}
                                            <a href="{% url 'quotes:stm_plan' plan.unique_url %}">
                                                <span class="emphasize">{{ plan.plan_name }}</span>
                                                (Details)
                                            </a>
                                        {% endif %}
                                </h3>
                                <p>{% if plan.Payment_Option != "2" %}Monthly{% endif %} Premium: ${% plan_actual_premium %}</p>
                                <p>{% if plan.Payment_Option != "2" %}One Time{% endif %} Enrollment Fee: ${{ plan.Enrollment_Fee }}</p>
                            </div>
                        </div>
                        <div style="display: flex;flex-direction: column; width: 50%">
                            <p>Location: {{ quote_request_form_data.Zip_Code }}/{{ quote_request_form_data.State }}</p>
                            <p>Primary Applicant: {% form_date_field_value quote_request_form_data.Applicant_DOB %} {{ quote_request_form_data.Applicant_Gender }}</p>
                            <p>Coverage Start: {% form_date_field_value quote_request_form_data.Effective_Date %}</p>
                            {% if quote_request_form_data.Ins_Type == 'stm' %}
                                    <p id="js-apply-effectiveEnd">
                                        <span class="info-label">Coverage End</span>
                                        <span class="info-value">
                                        <span id="js-apply-original-effectiveEnd">
                                            {% plan_coverage_end_date %}
                                        </span>
                                        </span>
                                    </p>
                                {% endif %}
                            <p>Coverage End: {{ quote_request_form_data.Zip_Code }}/{{ quote_request_form_data.State }}</p>
                            <p>Payment Options: {% if quote_request_form_data.Payment_Option == '1' %}
                                            {% trans "Monthly" %}
                                        {% elif quote_request_form_data.Payment_Option == '2' %}
                                            {% trans "Single Up Front" %}
                                        {% endif %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>{% endcomment %}
         <!------Xtraaaaaaa------>

        <p class="apply-disclaimer font-small pad-t-20">AFFORDABLE CARE ACT TAX. Term health insurance is not
            considered “minimum essential coverage” and you may be subject to the Affordable Care Act uninsured tax
            if you do not qualify for an exemption. To learn more about the tax and how consumers can determine if
            the combination of the tax and a Term Health Insurance premium can be cheaper than traditional insurance
            for their circumstances.
        </p>
        <br/>
    </div>

    {% if ctx_app_url_exists %}
        {% include 'quotes/info-popup.html' %}
    {% endif %}
{% endblock container %}
{% block extra_js %}
    <script>
        {#$(document).ready(function($) {#}
        {#    console.log('Page loaded: /stm/apply.');#}
        {#    if (window.history && window.history.pushState) {#}
        {#        window.history.pushState('forward', null, './#forward');#}
        {#        $(window).on('popstate', function() {#}
        {#            console.log('Back button was pressed on /stm/apply.');#}
        {#            location.href = "{% url 'quotes:stm_plan' plan.unique_url %}";#}
        {#        });#}
        {#    }#}
        {% comment %}});{% endcomment %}
        $(function () {
            $('#applyButton').click(function (e) {
                vimm_button_click_processing(
                    $(this),
                    ($button => false),
                    ['<span class="fa fa-lock"></span> <span class="js-apply-text apply-button-text">Starting Secure Application...</span>',
                        '<span class="fa fa-lock"></span> <span class="js-apply-text apply-button-text">Starting Secure Application..</span>',
                        '<span class="fa fa-lock"></span> <span class="js-apply-text apply-button-text">Starting Secure Application.</span>']
                );
            });
        });
    </script>
{% endblock extra_js %}