{% extends 'base_nhaquote.html' %}
{% load static i18n hp_tags %}
{% block title %}
    {% trans "Eligibility Questions" %} | {{ block.super }}
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'nhaquote_old/css/stm_plan.css' %}">
    <link rel="stylesheet" href="{% static 'nhaquote_old/css/stm_eq.css' %}">
{% endblock extra_css %}
{% block top-menu-block %}{% endblock %}
{% block mobile-header %}{% endblock %}
{% block container %}
<div id="app-page-wrapper">
    <div data-page="underwriting" id="app-page-container">
        <div class="container">
            <div class="row">
                <div id="application-body">
                    <div class="ms-row">
                        <div class="app-page-body-content" id="js-app-page-body-content">
                            <div class="" id="underwritingQuestions">
                                <div id="headingunderwritingQuestions">
                                    <div class="ms-row">
                                        <div class="text-center">
                                            <h2 class="text-orange font-weight-bold">Eligibility
                                                Questions</h2>

                                            <p class="reset fw-400" style="font-size: 20px">Please answer for you and any of your dependents
                                                {#                                                applying for coverage.</p> (<a data-placement="auto top"#}
                                                {#                                                                           data-sectiontitle="Eligibility Questions"#}
                                                {#                                                                           data-glossary="shortTerm.application.eligibility.learnmore"#}
                                                {#                                                                           data-toggle="popover" href="javascript:void(0)"#}
                                                {#                                                                           class="js-glossary js-glossary-tellmemore">tell#}
                                                {#                                                    me more</a>)#}

                                            <p class="reset">

                                            </p>
                                        </div>

                                    </div>
                                    <div class="row app-section-summary"></div>
                                </div>


                                <div id="app-underwritingQuestions-form">
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                {% csrf_token %}
                                                <div class="app-page-underwriting">
                                                    <div class="app-page-questions-container" id="member-P-0">
                                                        <ul class="app-page-underwriting-questions">
                                                            {% for stm_question in stm_questions %}
                                                                {% pre_qus_ans_is_correct stm_question.g_order as pre_qus_ans_status %}
                                                            <li class="row question_row js-app-page-medical-question-wrapper
                                                                        {% if not forloop.first and not stm_question.user_answer and not pre_qus_ans_status %}none{% endif %}
                                                                        {% wrong_answer_none stm_question %}"
                                                                 id="qus-{{ stm_question.ID }}" data-order="{{ stm_question.g_order }}"
                                                                 data-user_answer="{{ stm_question.user_answer|default:'' }}"
                                                                 data-total="{{ stm_questions|length }}"
                                                                 data-expected_answers="{{ stm_question.ExpectedAnswers }}"
                                                                 data-correct_answer="{{ stm_question.CorrectAnswer }}"
                                                                 data-question-id="{{ stm_question.ID }}">
                                                                <p class="question-label text-center">Question {{ forloop.counter }} of {{ stm_questions|length }}</p>
                                                                <P class="question-text text-center">{{ stm_question.Text|linebreaksbr }}</P>

                                                                {# <div class="col-sm-12 question-col" data-question-id="{{ stm_question.ID }}"> #}


                                                                    <div class="row qus-btn-row" data-qa-count="{{ stm_question.ExpectedAnswers|length }}"
                                                                         data-question-id="{{ stm_question.ID }}">
                                                                        {% for expected_answer in stm_question.ExpectedAnswers %}
                                                                        <div class="col-sm-{{ stm_question.ExpectedAnswers|length|qeadcs }} qus-btn-col question-toggle-group"
                                                                             data-question-id="{{ stm_question.ID }}">
                                                                            <button type="button"
                                                                                    class="boolean-toggle questionbtn-form capitalize btn btn-default-answer btn-lg expected_answer_button btn-orange
                                                                                    q-e-a-{{ forloop.parentloop.counter }}
                                                                                    {% if stm_question.user_answer == expected_answer %}selected-ans-button{% endif %}"
                                                                                    data-action="{% url 'quotes:stm_enroll' stm_enroll_obj.vimm_enroll_id stage %}"
                                                                                    data-answer="{{ expected_answer }}"
                                                                                    data-question-count="{{ forloop.parentloop.counter }}"
                                                                                    data-question-id="{{ stm_question.ID }}" data-order="{{ stm_question.g_order }}"
                                                                                    data-total="{{ stm_questions|length }}"
                                                                                    data-parent_id="{{ stm_question.parent_id|default:'' }}">
                                                                                {{ expected_answer }}
                                                                            </button>
                                                                        </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                {# </div> #}
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>

                                                    {% any_wrong_answer as wrong_answer %}
                                                    {% all_questions_answered as all_answered %}
                                                    <div id="app-page-eligibile" class="row app-page-cta-container {% if not all_answered or wrong_answer %}none{% endif %}"
                                                         style="margin-top: 30px;">
                                                        <div class="col-sm-12">
                                                            <p class="emphasize heading">
                                                                {% trans "Congratulations, you have met the eligibility requirements. Please continue on to the next step of the application." %}
                                                            </p>
                                                            <div class="button-wrapper">
                                                                <a class="btn btn-default-continue btn-orange" data-total="{{ stm_questions|length }}"
                                                                   id="continue_next_stage_link"
                                                                   data-stage="{{ stage }}"
                                                                   data-next-stage="{{ next_stage }}"
                                                                   data-stage-url="{% url 'quotes:stm_enroll' stm_enroll_obj.vimm_enroll_id stage %}"
                                                                   href="{% url 'quotes:stm_enroll' stm_enroll_obj.vimm_enroll_id next_stage %}" style="width: 100%; background: #FE8829 !important;">
                                                                    {% trans "Continue" %}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div id="app-page-ineligible" class="row app-message-container warning {% if not wrong_answer %}none{% endif %}"
                                                         style="margin-top: 30px;">
                                                        <div class="col-sm-12">
                                                            <p class="emphasize heading">
                                                                {% trans "Thank you for your interest. Unfortunately, you do not meet the eligibility requirements for coverage." %}</p>
                                                            <p>{% trans "Please speak with a licensed agent to discuss alternative options: (855) 805-6551" %}</p>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--disclaimer start-->
 <div class="container">
                <div {% comment %}id="qt-sidebar-plan-details"{% endcomment %}>
                    <h2 class="mrg-b-5">Your Plan: <i>{{ plan.Name }}</i></h2>
                    <p class="small" style="color: #808080">
                        {% if quote_request_form_data.Ins_Type == 'stm' %}Short-Term{% elif quote_request_form_data.Ins_Type == 'lim' %}Limited{% else %}Ancillary{% endif %} Health Insurance
                    </p>
                    <div id="qt-sidebar-small-plan-description">
                        <p>It is a {% if quote_request_form_data.Ins_Type == 'stm' %}Short-Term{% elif quote_request_form_data.Ins_Type == 'lim' %}Limited{% else %}Ancillary{% endif %}
                            Health Insurance plan{% if quote_request_form_data.Ins_Type == 'stm' %}, meaning your plan will last {{ plan.Duration_Coverage|plan_duration_month }}
                            months and will automatically renew for a total length
                            of {{ plan.Duration_Coverage|plan_duration_total_month }} months (though you can cancel anytime){% endif %}.This is a great option for healthy individuals
                            who are looking for a more affordable alternative to ACA plans with streamlined benefits and do not need pre-existing conditions covered.
                            We recommend you review the full plan brochure to understand all the details, benefits and limitations of the plan.</p>
                    </div>
                </div>

                {% if quote_request_form_data.Ins_Type == 'stm' %}
                    <hr>
                    <div class="text-center">
                        <a href="#qt-customize-plan" id="qt-customize-plan-link" class="text-muted">
                            <i class="fa fa-sliders"></i>
                            Customize/Enhance your plan
                        </a>
                    </div>
                {% endif %}

                {% if benefit_coverage %}
                    <hr>
                    <div id="qt-package-includes">
                        <h2 class="mrg-b-40">Your package includes:</h2>
                        <div class="qt-all-pkg-includes">
                            {% for bc in benefit_coverage %}
                                <div class="cur-p qt-each-pkg-include" unselectable="on">
                                    <div class="flex-center-between qt-each-pkg-hover">
                                        <div class="flex-center-between">
                                            <img class="qt-each-pkg-img" src="{% if bc.get_instance.image %}{{ bc.get_instance.image.url }}{% endif %}">
                                            <h3>{{ bc.get_instance.title }}</h3>
                                        </div>
                                        <span class="qt-each-pkg-dropdown-icon">
                                        <svg width="20" viewBox="0 0 24 24">
                                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                                            <path fill="none" d="M0 0h24v24H0z"></path>
                                        </svg>
                                    </span>
                                    </div>
                                    <div class="qt-each-pkg-hover-content" style="display: none;">
                                        <hr>
                                        {{ bc.get_instance.description|safe }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if quote_request_form_data.Ins_Type == 'stm' %}
                    <hr>
                    <div id="qt-customize-plan">
                        <h2>Customize your plan:</h2>
                        <div class="qt-all-customize-dropdowns">
                            {% if alternate_coverage_duration %}
                                <div class="dropdown">
                                    <button type="button" data-toggle="dropdown" class="btn w100">
                                    <span class="ms-block mrg-r-10">
                                        <span class="ms-block qt-customize-plan-title">Coverage Duration</span>
                                        <span class="ms-block qt-customize-plan-selected-val">{{ plan.Duration_Coverage }}</span>
                                    </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for duration in alternate_coverage_duration %}
                                            <li data-value="{{ duration }}" {% if plan.Duration_Coverage == duration %}class="active"{% endif %}>{{ duration }}</li>
                                        {% endfor %}
                                    </ul>
                                    <form action="{% url 'quotes:alternate_duration_coverage' plan.unique_url %}" class="none" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden"
                                               id="{{ duration_coverage_form.Duration_Coverage.id_for_label }}"
                                               name="{{ duration_coverage_form.Duration_Coverage.html_name }}"
                                               value="{{ plan.Duration_Coverage }}">
                                    </form>
                                </div>
                            {% endif %}
                            {% if quote_request_form_data.Ins_Type == 'stm' and alternate_benefit_amount %}
                                <div class="dropdown">
                                    <button type="button" data-toggle="dropdown" class="btn w100">
                                    <span class="ms-block mrg-r-10">
                                        <span class="ms-block qt-customize-plan-title">Maximum Out Of Pocket</span>
                                        <span class="ms-block qt-customize-plan-selected-val" id="qt-benefit-amount-dropdown">{{ plan.Benefit_Amount }}</span>
                                    </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for benefit in alternate_benefit_amount %}
                                            <li data-value="{{ benefit }}" {% if plan.Benefit_Amount == benefit %}class="active"{% endif %}>{{ benefit }}</li>
                                        {% endfor %}
                                    </ul>
                                    <form action="{% url 'quotes:select_from_quoted_plans_ajax' plan.unique_url %}" class="none" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden"
                                               id="{{ benefit_amount_coinsurance_coverage_max_form.Benefit_Amount.id_for_label }}"
                                               name="{{ benefit_amount_coinsurance_coverage_max_form.Benefit_Amount.html_name }}"
                                               value="{{ plan.Benefit_Amount }}">
                                    </form>
                                </div>
                            {% endif %}
                            {% if quote_request_form_data.Ins_Type == 'stm' and alternate_coinsurace_percentage %}
                                <div class="dropdown">
                                    <button type="button" data-toggle="dropdown" class="btn w100">
                                    <span class="ms-block mrg-r-10">
                                        <span class="ms-block qt-customize-plan-title">Co-Insurance Percentage</span>
                                        <span class="ms-block qt-customize-plan-selected-val" id="qt-coinsurance-percentage-dropdown">{{ plan.Coinsurance_Percentage }}</span>
                                    </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for percentage in alternate_coinsurace_percentage %}
                                            <li data-value="{{ percentage }}" {% if plan.Coinsurance_Percentage == percentage %}class="active"{% endif %}>{{ percentage }}</li>
                                        {% endfor %}
                                    </ul>
                                    <form action="{% url 'quotes:select_from_quoted_plans_ajax' plan.unique_url %}" class="none" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden"
                                               id="{{ benefit_amount_coinsurance_coverage_max_form.Coinsurance_Percentage.id_for_label }}"
                                               name="{{ benefit_amount_coinsurance_coverage_max_form.Coinsurance_Percentage.html_name }}"
                                               value="{{ plan.Coinsurance_Percentage }}">
                                    </form>
                                </div>
                            {% endif %}
                            {% if quote_request_form_data.Ins_Type == 'stm' and alternate_coverage_max %}
                                <div class="dropdown">
                                    <button type="button" data-toggle="dropdown" class="btn w100">
                                    <span class="ms-block mrg-r-10">
                                        <span class="ms-block qt-customize-plan-title">Coverage Period Maximum</span>
                                        <span class="ms-block qt-customize-plan-selected-val" id="qt-coverage-max-dropdown">{{ plan.coverage_max_value }}</span>
                                    </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for coverage in alternate_coverage_max %}
                                            <li data-value="{{ coverage }}" {% if plan.coverage_max_value == coverage %}class="active"{% endif %}>{{ coverage }}</li>
                                        {% endfor %}
                                    </ul>
                                    <form action="{% url 'quotes:select_from_quoted_plans_ajax' plan.unique_url %}" class="none" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden"
                                               id="{{ benefit_amount_coinsurance_coverage_max_form.Coverage_Max.id_for_label }}"
                                               name="{{ benefit_amount_coinsurance_coverage_max_form.Coverage_Max.html_name }}"
                                               value="{{ plan.coverage_max_value }}">
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% comment %}
                {% if quote_request_form_data.Ins_Type != 'anc' %}
                    <hr>
                    <div class="add-on-section">
                        <div class="mrg-t-20" id="add-on-plan-container">
                            {% csrf_token %}
                            <h2>Plan Enhancements</h2>
                            <div class="row">
                                <div class="col-sm-12 addon_plan_action_message"></div>
                                <div class="col-sm-12" id="available-add-on">
                                    <div class="panel panel-default ms-panel-adon">
                                        <div class="panel-heading">
                                            <h3 class="panel-title bold">Available Add-on plans</h3>
                                        </div>
                                        <div class="panel-body addon_plans_panel addon_plans_panel_available">
                                            {% for addon_plan in remaining_addon_plans %}
                                                <div data-carrier_name="{{ addon_plan.carrier_name }}" class="row"
                                                     style="border: 1px solid #dddddd; border-radius: 5px;margin-top: 5px; padding: 5px; display: flex;">
                                                    <div class="col-sm-9" style="flex: 3; border-right: 1px solid #dddddd;">
                                                        <h4>{{ addon_plan.Name }}</h4>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                Premium: ${{ addon_plan.actual_premium }} / mo
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <a class="add_on_plan_brochure"
                                                                   href="/static/quotes/add_on_brochure/{{ addon_plan.carrier_name|add_on_name_for_brochure }}.pdf"
                                                                   target="_blank">
                                                                    <span class="fa fa-file-pdf-o"></span> Brochure
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 text-right" style="flex: 1;">
                                                        <img width="35px" style="top: 25%; position: relative;" class="none"
                                                             src="{% static 'quotes/img/ajax-loader.gif' %}">
                                                        <button class="btn btn-success action_addon_plan_button" type="button"
                                                                style="top: 25%; position: relative;"
                                                                data-action="{% url 'quotes:stm_plan_addon_action' plan.unique_url 'include' %}"
                                                                data-addon-plan="{{ addon_plan.data_as_dict|jsonify }}">
                                                            <span class="fa fa-plus"></span> Add
                                                        </button>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" id="selected-add-on">
                                    <div class="panel panel-default ms-panel-adon">
                                        <div class="panel-heading">
                                            <h3 class="panel-title bold">Selected Add-on Plans</h3>
                                        </div>
                                        <div class="panel-body addon_plans_panel addon_plans_panel_selected">
                                            {% for addon_plan in selected_addon_plans %}
                                                <div class="row" style="border: 1px solid #dddddd; border-radius: 5px;  margin-top: 5px; padding: 5px; display: flex;">
                                                    <div class="col-sm-9" style="flex: 3; border-right: 1px solid #dddddd;">
                                                        <h4>{{ addon_plan.Name }}</h4>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                Premium: ${{ addon_plan.actual_premium }} / mo
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <a class="add_on_plan_brochure"
                                                                   href="/static/quotes/add_on_brochure/{{ addon_plan.carrier_name|add_on_name_for_brochure }}.pdf"
                                                                   target="_blank">
                                                                    <span class="fa fa-file-pdf-o"></span> Brochure
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 text-right" style="flex: 1;">
                                                        <img width="35px" style="top: 25%; position: relative;" class="none"
                                                             src="{% static 'quotes/img/ajax-loader.gif' %}">
                                                        <button class="btn btn-warning action_addon_plan_button" type="button"
                                                                style="top: 25%; position: relative;"
                                                                data-action="{% url 'quotes:stm_plan_addon_action' plan.unique_url 'remove' %}"
                                                                data-addon-plan="{{ addon_plan.data_as_dict|jsonify }}">
                                                            <span class="fa fa-remove"> Remove</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            {% empty %}
                                                <h4>No Add-on Plan</h4>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endcomment %}

                <hr>
                <div>
                    <h3>Coverage details</h3>
                    {% if quote_request_form_data.Ins_Type == 'stm' %}
                        <div>
                            No insurance policy covers everything, and short-term plans have important exclusions.
                            Please review the following information to make sure this plan covers what matters to you.
                        </div>
                    {% else %}
                        <div>
                            A health benefit that is intended to supplement your major medical health care plan. It pays a daily benefit for each day you are confined in a hospital, or depending on
                            the plan you select, certain other medical services. Benefits are payable directly to you regardless of any other insurance you may have. These benefits may be used to help
                            cover out-of-pocket medical expenses or any other expenses you may have.
                        </div>
                    {% endif %}
                    <a href="/static/quotes/brochure/stm/{{ plan.Name|plan_name_for_img }}.pdf"
                       target="_blank"
                       class="qt-plan-brochure-file">View Plan Brochure</a>
                </div>

                {% comment %}{% if related_plans %}
                    <hr>
                    <h2 class="mrg-b-40">Other <i>{{ plan.Name }}</i> products in your area:</h2>

                    <div id="qt-related_plan">
                        {% for related_plan in related_plans|slice:":6" %}
                            <div class="">
                                {% if quote_request_form_data.Ins_Type == 'stm' %}
                                    <a class="plan-variation-container" href="{% url 'quotes:stm_plan' related_plan.general_url %}">
                                    <p class="variations-plan-name">{{ related_plan.general_plan_name }}</p>
                                    <p> Deductible - ${{ related_plan.option }}</p>
                                    <p class="">
                                        <span class="emphasize" style="font-size: 30px;">${{ related_plan.actual_premium }}</span>{% if plan.Payment_Option != '2' %}/mo{% endif %}
                                    </p>
                                {% else %}
                                    <a class="plan-variation-container" href="{% url 'quotes:stm_plan' related_plan.unique_url %}">
                                    <p class="variations-plan-name">{{ related_plan.plan_name }}</p>
                                    <p> Enrollment Fee - {{ related_plan.Enrollment_Fee }}</p>
                                    <p class="">
                                        <span class="emphasize" style="font-size: 30px;">${{ related_plan.actual_premium }}</span>{% if plan.Payment_Option != '2' %}/mo{% endif %}
                                    </p>

                                {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}{% endcomment %}

                {% if restrictions_omissions %}
                    <hr>
                    <div id="restrictions-n-omissions">
                        <h3>Disclaimers / Restrictions / Omissions</h3>
                        {% for bc in restrictions_omissions %}
                            <div>
                                <h4>{{ bc.get_instance.title }}</h4>
                                <div>{{ bc.get_instance.description|safe }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        <br>
<!--disclaimer end-->

{% endblock container %}
{% block footer-info %}{% endblock %}
{% block hamburger %}{% endblock %}
{% block extra_js %}
{#<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>#}
{#<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>#}
{#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>#}
<script type="text/javascript">
    (function($) {
        $.fn.goTo = function() {
            $('html, body').animate({
                scrollTop: $(this).offset().top + 'px'
            }, 'fast');
            return this;
        }
    })(jQuery);


    $(function() {
        var $expected_answer_button = $(".expected_answer_button");

        $expected_answer_button.click(function(e) {

            e.preventDefault();
            var $this = $(this);
            var qus_no = $this.data('question-count');
            var $related_ans_buttons = $('.q-e-a-' + qus_no);

            var ans_form_data = {'question_request_name': 'user_answer', 'answer': $this.data('answer'),
                'question_id': $this.data('question-id'), 'parent_id': $this.data('parent_id'),
                'order': $this.data('order'), 'total': $this.data('total')};

            $.ajax({
                url: $this.data("action"),
                beforeSend: function(xhr) {xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));},
                data: ans_form_data, type: 'POST', dataType: 'json',
                success: function(json) {
                    if (json.status == 'success') {
                        $related_ans_buttons.removeClass('selected-ans-button');
                        $this.addClass('selected-ans-button');
                        question_form_success_handler(json.cleaned_data);
                    } else {
                        location.href = json.redirect_url;
                    }
                },
                error: function() {alert("Internal Error");}
            });

            function question_form_success_handler(form_data) {
                {#console.log('.question_row[data-order="'+ form_data.order  +'"]');#}
                var $question = $('.question_row[data-order="'+ form_data.order  +'"]');
                $question.attr('data-user_answer', form_data.answer);

                var ans_check_form = {
                    'question_request_name': 'answer_check', 'order': form_data.order, 'total': form_data.total
                };
                $.ajax({
                    url: $question.data("action"),
                    beforeSend: function(xhr) {xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));},
                    data: ans_check_form, type: 'POST', dataType: 'json',
                    success: function(json) {
                        if (json.status == 'success') {
                            if (json.cleaned_data.any_wrong_answer) {
                                $('#app-page-eligibile').addClass('none');
                                $('#app-page-ineligible').removeClass('none').goTo();
                            } else if (json.cleaned_data.all_questions_answered) {
                                $('#app-page-ineligible').addClass('none');
                                $('#app-page-eligibile').removeClass('none').goTo();
                            } else {
                                $('#app-page-ineligible').addClass('none');
                            }
                        } else {location.href = json.redirect_url;}
                    },
                    error: function() {alert("Internal Error");}
                });
                if (form_data.is_correct_ans) {
                    if ((form_data.order + 1) < form_data.total) {
                        $('.question_row[data-order="' + (form_data.order + 1) + '"]').removeClass('none');
                        $question.siblings('.question_row')
                                .filter(function () {return $(this).data('order') > form_data.order;});

                        // scroll to the next question
                        $("html, body").animate({
                            scrollTop: $question.siblings('.question_row').filter(function () {return $(this).data('order') > form_data.order;}).offset().top
                        }, 600);
                    }
                }
                {% comment %}   {# commented by debashis, because it seems duplicate of previous block #}
                if (!form_data.is_correct_ans) {
                    if ((form_data.order + 1) < form_data.total) {
                        $question.siblings('.question_row')
                                .filter(function(){return $(this).data('order') > form_data.order;})
                                .addClass('wrong_ans_none');
                    }
                }{% endcomment %}
            }
        });
    });


    $(function() {
        var $continue_next_stage_link = $('#continue_next_stage_link');
        $continue_next_stage_link.on('click', function(e) {
            e.preventDefault();
            var $this = $(this);
            var form_data = {'question_request_name': 'transition', 'stage': $this.data('stage'),
                             'next_stage': $this.data('next-stage'), 'total': $this.data('total')};
            $.ajax({
                url: $this.data("stage-url"),
                beforeSend: function(xhr) {xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));},
                data: form_data, type: 'POST', dataType: 'json',
                success: function(json) {location.href = json.redirect_url;},
                error: function() {alert("Internal Error");}
            });
        });
    });
</script>
{% endblock extra_js %}