{% extends 'base_nhaquote.html' %}
{% load i18n hp_tags %}
{% block title %}
    Apply For Plan {{ plan.plan_name }} |  {{ block.super }}
{% endblock title %}
{% block extra_css %}
<style type="text/css"></style>
{% endblock extra_css %}
{% block container %}
    <div class="container apply-container">

        <div>
            <span id="variation_key" data-variation_key="1" class="none"></span>
            <span id="js-plan-max-duration" class="none"></span>
            <a href="{% url 'quotes:plan_quote' ins_type=quote_request_form_data.Ins_Type %}" class="apply-shopping-link" id="js-apply-continue-shopping-link">Continue Shopping</a>
            <div class="apply-details-header"><h3 class="reset">Review and start application</h3></div>
            <p>Please review the following information before starting your application.</p>
        </div>


        <div class="row">
            <div class="col-md-8">
                <div style="font-weight: 500" class="apply-details-summary js-apply-details-summary">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 apply-details-plan-summary first-div">
                            <table class="table quote-price-breakdown-table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="carrierLogo">
                                                <img alt="{{ plan.Name }}" src="/static/quotes/img/stm/{{ plan.Name|plan_name_for_img }}.png" class="carrier-logo-image">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            {% if quote_request_form_data.Ins_Type == 'stm' %}
                                                <a href="{% url 'quotes:stm_plan' plan.general_url %}">
                                                    <span class="emphasize">{{ plan.plan_name }}</span> (Details)
                                                </a>
                                            {% else %}
                                                <a href="{% url 'quotes:stm_plan' plan.unique_url %}">
                                                    <span class="emphasize">{{ plan.plan_name }}</span> (Details)
                                                </a>
                                            {% endif %}
                                            </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {% if plan.Payment_Option != "2" %}Monthly{% endif %} Premium:
                                        </td>
                                        <td class="text-right">${% plan_actual_premium %}</td>
                                    </tr>
                                    <tr>
                                        <td>{% if plan.Payment_Option != "2" %}One Time{% endif %} Enrollment Fee:</td>
                                        <td class="text-right">${{ plan.Enrollment_Fee }}</td>
                                    </tr>

                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                        <div class="col-sm-6 col-xs-12 apply-details-census-summary hidden-xs">
                            <table class="tabl
                            e apply-census-table">
                                <tbody>
                                <tr>
                                    <td class="info-label">Location</td>
                                    <td class="info-value">
                                        {{ quote_request_form_data.Zip_Code }}/{{ quote_request_form_data.State }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="info-label">Primary Applicant</td>
                                    <td class="info-value">
                                        {% form_date_field_value quote_request_form_data.Applicant_DOB %} {{ quote_request_form_data.Applicant_Gender }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="info-label">Coverage Start</td>
                                    <td class="info-value">
                                        {% form_date_field_value quote_request_form_data.Effective_Date %}
                                    </td>
                                </tr>
                                {% if quote_request_form_data.Ins_Type == 'stm' %}
                                <tr id="js-apply-effectiveEnd">
                                    <td class="info-label">Coverage End</td>
                                    <td class="info-value">
                                        <span id="js-apply-original-effectiveEnd">
                                            {% plan_coverage_end_date %}
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td class="info-label">Payment Options</td>
                                    <td class="info-value">
                                        {% if quote_request_form_data.Payment_Option == '1' %}
                                            {% trans "Monthly" %}
                                        {% elif quote_request_form_data.Payment_Option == '2' %}
                                            {% trans "Single Up Front" %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="{% url 'quotes:plans' %}" id="#js-apply-change-info">CHANGE INFO</a></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        {% if selected_addon_plans %}
                            <div class="col-sm-12 col-xs-12 third-div">
                                <h3 class="apply-add-on-plan-heading">
                                    <span data-container="body" data-placement="top"
                                          href="javascript:void(0);" data-toggle="popover"
                                          data-content="Add-on Policy is billed separately.
                                          if the main STM policy terminates or is canceled,
                                          it will not automatically cancel your Add-on Policy,
                                          unless requested by you.">
                                        Add-On Plan{{ selected_addon_plans|pluralize }}
                                    </span>
                                    {% if quote_request_form_data.Ins_Type == 'stm' %}
                                        <a href="{% url 'quotes:stm_plan' plan.general_url %}#add-on-plan-container" style="font-size: 16px;">
                                    {% else %}
                                        <a href="{% url 'quotes:stm_plan' plan.unique_url %}#add-on-plan-container" style="font-size: 16px;">
                                    {% endif %}
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                </h3>
                                {% for add_on in selected_addon_plans %}
                                <div class="row">
                                    <div class="col-sm-12 {% if not forloop.last %}individual-add-on-plan{% endif %}">
                                        <h4 class="add-on-plan-name ">
                                            {{ add_on.Name }}
                                            <a href="/static/quotes/add_on_brochure/{{ add_on.carrier_name|add_on_name_for_brochure }}.pdf"
                                               target="_blank">
                                                <small>(details)</small>
                                            </a>
                                        </h4>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <span class="">Premium</span>: ${{ add_on.actual_premium }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="col-xs-12 apply-details-census-summary apply-info-bottom hidden-sm hidden-md hidden-lg">
                            <table class="table apply-census-table">
                                <tbody>
                                <tr>
                                    <td class="info-label">Location</td>
                                    <td class="info-value">
                                        {{ quote_request_form_data.Zip_Code }}/{{ quote_request_form_data.State }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="info-label">Primary Applicant</td>
                                    <td class="info-value">
                                        {% form_date_field_value quote_request_form_data.Applicant_DOB %} {{ quote_request_form_data.Applicant_Gender }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="info-label">Coverage Start</td>
                                    <td class="info-value">
                                        {% form_date_field_value quote_request_form_data.Effective_Date %}
                                    </td>
                                </tr>

                                {% if quote_request_form_data.Ins_Type == 'stm' %}
                                <tr id="js-apply-effectiveEnd">
                                    <td class="info-label">Coverage End</td>
                                    <td class="info-value">
                                        <span id="js-apply-original-effectiveEnd">
                                            {% plan_coverage_end_date %}
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td class="info-label">Payment Options</td>
                                    <td class="info-value">
                                        {% if quote_request_form_data.Payment_Option == '1' %}
                                            {% trans "Monthly" %}
                                        {% elif quote_request_form_data.Payment_Option == '2' %}
                                            {% trans "Single Up Front" %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="{% url 'quotes:plans' %}" id="#js-apply-change-info">CHANGE INFO</a></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div id="applyCta">
                    <a class="btn btn-default js-apply-button vimm-nim-width-btn" id="applyButton"
{#                            {% if quote_request_form_data.Ins_Type == 'stm' %}#}
{#                               href="{% url 'quotes:stm_application' plan.general_url %}">#}
{#                            {% else %}#}
                               href="{% url 'quotes:stm_application' plan.unique_url %}">
{#                            {% endif %}#}
                    <span class="fa fa-lock"></span> <span class="js-apply-text apply-button-text">Start Secure Application</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="apply-right-bar-wrapper">
                    <div class="apply-what-to-know"><h3>Swift &amp; Easy Application</h3>
                        <ul>
                            <li>Check for eligibility in seconds</li>
                            <li>Get approval in minutes</li>
                            <li>Be enrolled today!</li>
                        </ul>
                    </div>
                </div>
                <div class="apply-guarantee">
                    <div class="row" id="nations-guarantee">
                        <div class="nations-guarantee-text hccadvantage">
                            <p><span class="emphasize">10 day Risk Free Cancellation</span> <br>
                                <small>30 days Risk Free Cancellation for USA+ Dental</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="apply-disclaimer font-small pad-t-20">AFFORDABLE CARE ACT TAX. Term health insurance is not
            considered “minimum essential coverage” and you may be subject to the Affordable Care Act uninsured tax
            if you do not qualify for an exemption. To learn more about the tax and how consumers can determine if
            the combination of the tax and a Term Health Insurance premium can be cheaper than traditional insurance
            for their circumstances.
        </p>
        <br/>
    </div>

    {% if ctx_app_url_exists %}
    {% include 'quotes/info-popup.html' %}
    {% endif %}
{% endblock container %}
{% block extra_js %}
<script>
    {#$(document).ready(function($) {#}
    {#    console.log('Page loaded: /stm/apply.');#}
    {#    if (window.history && window.history.pushState) {#}
    {#        window.history.pushState('forward', null, './#forward');#}
    {#        $(window).on('popstate', function() {#}
    {#            console.log('Back button was pressed on /stm/apply.');#}
    {#            location.href = "{% url 'quotes:stm_plan' plan.unique_url %}";#}
    {#        });#}
    {#    }#}
    {% comment %}});{% endcomment %}
    $(function(){
        $('#applyButton').click(function(e) {
            vimm_button_click_processing(
                    $(this),
                    ($button => false),
                    ['<span class="fa fa-lock"></span> <span class="js-apply-text apply-button-text">Starting Secure Application...</span>',
                        '<span class="fa fa-lock"></span> <span class="js-apply-text apply-button-text">Starting Secure Application..</span>',
                        '<span class="fa fa-lock"></span> <span class="js-apply-text apply-button-text">Starting Secure Application.</span>']
            );
        });
    });
</script>
{% endblock extra_js %}