{% extends 'base_nhaquote.html' %}
{% load static hp_tags %}
{% block title %}
    Thank You | {{ block.super }}
{% endblock title %}

{% block google_conversion_tracking %}
<script type="text/javascript">
/* <![CDATA[ */
    var google_conversion_id = 863950144;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "FWpZCNyNj20QwKr7mwM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""
     src="//www.googleadservices.com/pagead/conversion/863950144/?label=FWpZCNyNj20QwKr7mwM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{% endblock google_conversion_tracking %}

{% block top-menu-block %}{% endblock %}
{% block mobile-header %}{% endblock %}

{% block container %}
<div class="common-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                {% if res.error %}
                    <h3 style="color: red;">Failed to enroll to the insurance plan</h3>
                    <p>{{ res.error }}</p>
                {% elif res.applicant %}
                    <p class="fs-20 color-base bold">
                        Greetings, you have been successfully enrolled to your new health insurance plan
                    </p>
                    <p class="fs-16 color-gray">
                        Additional information about your plan have also been sent to your email address from support@mybk.com.
                    </p>
                    <p class="fs-16 color-gray">
                        Click <a href="{{ res.applicant.LoginURL }}" target="_blank"> here</a> to go to login portal.
                    </p>
                <div class="final-info">
                    <img src="{% static 'quotes/images/pointing_down.png' %}" alt="" class="pointing-img"/>
                    <ul class="final-info-ul">
                        <li>
                            <strong>Applicant ID:</strong> {{ res.applicant.ApplicantID }}
                        </li>
                        <li>
                            <strong>Member ID:</strong> {{ res.applicant.Member_ID }}
                        </li>
                        {% comment %}<li>
                            <strong>User ID:</strong> {{ res.applicant.User_ID }}
                        </li>
                        <li>
                            <strong>Password:</strong> {{ res.applicant.Password }}
                        </li>{% endcomment %}
                        <li style="overflow: hidden;text-overflow: ellipsis">
                            <strong>Login URL:</strong>
                            <a href="{{ res.applicant.LoginURL }}" target="_blank"  style="color: #5398F3 ;text-decoration: underline;">
                                Click Here
                            </a>
                        </li>
                        <li>
                            <strong>Status:</strong> {{ res.applicant.Status }}
                        </li>

                        {% if res.applicant.Dependent %}
                        <li>
                            <strong>Dependent{{ res.applicant.Dependent|pluralize }}</strong><br>
                            <ul>
                                {% for dependent in res.applicant.Dependent %}
                                <li>
                                    <strong>Name:</strong> {{ dependent.First_Name }} {{ dependent.Last_Name }}
                                </li>
                                <li>
                                    <strong>Dependent ID:</strong> {{ dependent.DependentID }}
                                </li>
                                <li>
                                    <strong>Member ID:</strong> {{ dependent.Member_ID }}
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                        {% if res.applicant.Add_ons %}
                        <li>
                            <strong>Add-On Plan{{ res.applicant.Add_ons|pluralize }} Member ID</strong><br>
                            <ul>
                                {% for add_on in res.applicant.Add_ons %}
                                <li>
                                    <strong>{{ add_on.Name }}:</strong> {{ add_on.Member_ID }}
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% else %}
                    <h3 style="color: red;">Failed to enroll to the insurance plan</h3>
                    <p>Unexpected error occurred, please try again after some time.</p>
                {% endif %}
            </div>

            {% comment %}
            <div class="col-sm-4 col-sm-offset-1 app-page-summary" style="border-color: #41c0cb #ddd #ddd; border-style: solid; border-width: 5px 1px 1px;">
                    <h3 style="text-transform: uppercase; color: #41c0cb; font-size: 22px;">Summary</h3>
                    <div class="carrierLogo">
                        <img class="carrier-logo-image"
                             src="/static/quotes/img/stm/{{ plan.Name|plan_name_for_img }}.png" alt="{{ plan.plan_name }}">
                    </div>
                    <p>{{ plan.plan_name }}</p>
                    <div class="row">
                        <div class="col-sm-7 col-xs-7">
                            POLICY EFFECTIVE DATE:
                        </div>
                        <div class="col-sm-5 col-xs-5">
                            {% form_date_field_value form_data.Effective_Date %}
                        </div>

                        <div class="col-sm-7 col-xs-7">
                            POLICY EXPIRATION DATE:
                        </div>
                        <div class="col-sm-5 col-xs-5">
                            {% plan_coverage_end_date %}
                        </div>


                        <div class="col-sm-7 col-xs-7">
                            {% if form_data.Payment_Option == '1' %}
                                MONTHLY PREMIUM:
                            {% elif form_data.Payment_Option == '2' %}
                                TOTAL PREMIUM:
                            {% endif %}
                        </div>
                        <div class="col-sm-5 col-xs-5">
                            {% if form_data.Payment_Option == '1' %}
                                ${% plan_actual_premium %}
                            {% elif form_data.Payment_Option == '2' %}
                                ${% plan_single_premium %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endcomment %}
        </div>
    </div>
</div>
{% endblock container %}
{% block footer-info %}{% endblock %}
{% block hamburger %}{% endblock %}
