{% extends 'base_nhaquote.html' %}
{% load static hp_tags %}
{% block title %}
    Thank You | {{ block.super }}
{% endblock title %}

{% block google_conversion_tracking %}
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 863950144;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "FWpZCNyNj20QwKr7mwM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//www.googleadservices.com/pagead/conversion/863950144/?label=FWpZCNyNj20QwKr7mwM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
{% endblock google_conversion_tracking %}
{% block extra_css %}
    <link href="{% static 'nhaquote_old/css/thank_you.css' %}" rel="stylesheet">
    <link href="{% static 'nhaquote_old/css/stm_enroll_info.css' %}" rel="stylesheet">
{% endblock %}
{% block top-menu-block %}{% endblock %}
{% block mobile-header %}{% endblock %}

{% block container %}
    <div class="common-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div style="max-width: 1024px; margin: 0 auto">
                        <div class="panel panel-base border-0 box-shadow-light">
                            <div class="border-0 bg-transparent panel-heading">
                                <h4 class="bold no-margin">Thank You </h4>
                            </div>
                            <div class="panel-body">
                                {% if res.error %}
                                    <h3 style="color: red;" class="text-center text-primary">Failed to enroll to the
                                        insurance plan</h3>
                                    <p>{{ res.error }}</p>
                                {% elif res.applicant %}
                                    <h2 class="text-primary text-center">
                                        You have been successfully enrolled to your new health insurance plan
                                    </h2>
                                    <div class="review-box mrg-b-10 text-center" style="font-size: 18px;">
                                        <h4> Additional information about your plan have also been sent to your email
                                            address from <span class="text-primary">support@mybk.com.</span></h4>
                                    </div>
                                    <p class="fs-16 color-gray text-center">
                                        Click
                                        <a href="{{ res.applicant.LoginURL }}" target="_blank"> here</a>
                                        to go to login portal.
                                    </p>
                                    <div class="" style="">
                                        <div class="plan-info">
                                            <img src="{% static 'quotes/img/pointing_down.png' %}" alt=""
                                                 class="pointing-img"/>
                                            <div class="final-plan-info">
                                                <h3 class="text-center text-primary"
                                                    style="margin-top: 0; font-weight: bold">Plan Details</h3>
                                                <div>
                                                    <p>
                                                        <strong>Applicant ID:</strong>
                                                        {{ res.applicant.ApplicantID }}
                                                    </p>
                                                    <p>
                                                        <strong>Member ID:</strong>
                                                        {{ res.applicant.Member_ID }}
                                                    </p>
                                                    {% comment %}<li>
                            <strong>User ID:</strong> {{ res.applicant.User_ID }}
                        </li>
                        <li>
                            <strong>Password:</strong> {{ res.applicant.Password }}
                        </li>{% endcomment %}
                                                    <p style="overflow: hidden;text-overflow: ellipsis">
                                                        <strong>Login URL:</strong>
                                                        <a href="{{ res.applicant.LoginURL }}" target="_blank"
                                                           style="color: #5398F3 ;text-decoration: underline;">
                                                            Click Here
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <strong>Status:</strong>
                                                        {{ res.applicant.Status }}
                                                    </p>

                                                    {% if res.applicant.Dependent %}
                                                        <p>
                                                            <strong>
                                                                Dependent{{ res.applicant.Dependent|pluralize }}</strong>
                                                            <br>
                                                            <div>
                                                                {% for dependent in res.applicant.Dependent %}
                                                                    <p>
                                                                        <strong>Name:</strong>
                                                                        {{ dependent.First_Name }} {{ dependent.Last_Name }}
                                                                    </p>
                                                                    <p>
                                                                        <strong>Dependent ID:</strong>
                                                                        {{ dependent.DependentID }}
                                                                    </p>
                                                                    <p>
                                                                        <strong>Member ID:</strong>
                                                                        {{ dependent.Member_ID }}
                                                                    </p>
                                                                {% endfor %}
                                                        </div>
                                                        </p>
                                                    {% endif %}

                                                {% if res.applicant.Add_ons %}
                                                    <div>
                                                        <h3 class="font-weight-bold text-primary"
                                                            style="font-weight: bold">Add-On
                                                            Plan{{ res.applicant.Add_ons|pluralize }} & Member ID
                                                        </h3>
                                                        <br>
                                                        <div>
                                                            {% for add_on in res.applicant.Add_ons %}
                                                                <p>
                                                                    <strong>{{ add_on.Name }}:</strong>
                                                                    {{ add_on.Member_ID }}
                                                                </p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                {% else %}
                                    <h3 style="color: red;">Failed to enroll to the insurance plan</h3>
                                    <p>Unexpected error occurred, please try again after some time.</p>
                                {% endif %}
                        </div>
                    </div>
                </div>

            </div>

                {% comment %}
            <div class="col-sm-4 col-sm-offset-1 app-page-summary" style="border-color: #41c0cb #ddd #ddd; border-style: solid; border-width: 5px 1px 1px;">
                    <h3 style="text-transform: uppercase; color: #41c0cb; font-size: 22px;">Summary</h3>
                    <div class="carrierLogo">
                        <img class="carrier-logo-image"
                             src="/static/quotes/img/stm/{{ plan.Name|plan_name_for_img }}.png" alt="{{ plan.plan_name }}">
                    </div>
                    <p>{{ plan.plan_name }}</p>
                    <div class="row">
                        <div class="col-sm-7 col-xs-7">
                            POLICY EFFECTIVE DATE:
                        </div>
                        <div class="col-sm-5 col-xs-5">
                            {% form_date_field_value form_data.Effective_Date %}
                        </div>

                        <div class="col-sm-7 col-xs-7">
                            POLICY EXPIRATION DATE:
                        </div>
                        <div class="col-sm-5 col-xs-5">
                            {% plan_coverage_end_date %}
                        </div>


                        <div class="col-sm-7 col-xs-7">
                            {% if form_data.Payment_Option == '1' %}
                                MONTHLY PREMIUM:
                            {% elif form_data.Payment_Option == '2' %}
                                TOTAL PREMIUM:
                            {% endif %}
                        </div>
                        <div class="col-sm-5 col-xs-5">
                            {% if form_data.Payment_Option == '1' %}
                                ${% plan_actual_premium %}
                            {% elif form_data.Payment_Option == '2' %}
                                ${% plan_single_premium %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endcomment %}

        </div>
    </div>
{% endblock container %}
{% block footer-info %}{% endblock %}
{% block hamburger %}{% endblock %}
