.font-14{
  font-size: 14px;
  font-weight: 600;
  color: #888888;
}
.linear-gradient{
    background: linear-gradient(to right, #19b4fa 0%, #163167 100%);
}
.author-img img{
    width: 90px;
    height: 90px;
    max-width: 90px;
}