.social-icon{
    height: 45px;
    width: 45px;
    line-height: 45px;
    border: 1px solid #19b4fa;
    border-radius: 50%;
    text-align: center;
    color: #19b4fa;
}

.font-14{
  font-size: 14px;
  font-weight: 600;
  color: #888888;
}