@import "../../../global_static_libs/bootstrap/scss/functions";
@import "../../../global_static_libs/bootstrap/scss/variables";
@import "../../quotes/scss/qt-mixins";
@import "post-variables";

.qt-post {
    &:hover {
        @include css-prefix((transform, translateY(-10px)), $post-hover-box-shadow);
    }
}

.qt-vertical-post {
    min-height: 2*$post-height + 50px;
}

.divided-bg {
    background-color: $divided-bg-lighter;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, $divided-bg-darker), to($divided-bg-darker));
    background-image: -o-linear-gradient(to left, transparent 50%, $divided-bg-darker 50%, $divided-bg-darker 100%);
    background-image: linear-gradient(to left, transparent 50%, $divided-bg-darker 50%, $divided-bg-darker 100%);
}

.post-img-bg {
    height: $post-height;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $primary;
}

@media (min-width: map_get($grid-breakpoints, sm)) {
    .qt-height-limit {
        max-height: $post-height;
    }

    .each-senior-blog {
        border-color: transparent !important;
        &:hover, &:active, &:focus {
            border-color: rgba(0, 0, 0, 0.1) !important;
            @include css-prefix($post-hover-box-shadow);
        }
    }
}

@media (max-width: map_get($grid-breakpoints, lg)) {
    header {
        @include css-prefix((box-shadow, 0px 3px 20px 0 rgba(0, 0, 0, 0.25)))
    }
    .divided-bg {
        background-image: none;
        background-color: $divided-bg-darker;
    }
    .qt-post {
        font-size: 15px;
        h1 {
            font-size: 30px;
        }
    }
}
