{% extends 'quotes/base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} | Quote
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="card text-center">
                    <h5 class="card-header text-black font-wight-600">Tell us about you</h5>
                    <div class="card-body">
                        <h5 class="card-title font-md font-wight-700">Who are you looking to insure?</h5>
                        <p class="card-text text-secondary font-sm mb-0">Include yourself plus any household members for this new coverage.</p>
                        <a href="#" class="card-link text-capitalize font-wight-600 font-md">learn more ></a>
                        <br>
                        <div class="row text-left">
                            <div class="col-6 offset-3">
                                <div class="card py-3 my-3 px-4 qt-survey">
                                    <div class="d-flex align-items-center qt-survey-who">
                                        <svg aria-hidden="true" data-prefix="fas" data-icon="user" class="svg-inline--fa fa-user fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 448 512" width="18">
                                            <path fill="currentColor"
                                                  d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path>
                                        </svg>
                                        <span class="font-md pl-2 font-md font-wight-600">Me</span>
                                    </div>
                                    <p>What’s your date of birth?
                                        <span class="border border-secondary rounded-circle cur-p qt-tooltip">?</span>
                                    </p>
                                    <input type="text" placeholder="mm/dd/yyyy" class="font-mm border border-secondary mb-3 rounded qt-survey-input">

                                    <div class="qt-survey-gender my-3">
                                        <p>What’s your gender?
                                            <span class="border border-secondary rounded-circle cur-p qt-tooltip">?</span>
                                        </p>
                                        <div class="btn-group w-100" role="group">
                                            <label class="btn btn-primary btn-lg active col">
                                                <input class="d-none" type="radio" name="gender" value="m">Male
                                            </label>
                                            <label class="btn btn-outline-primary btn-lg col">
                                                <input class="d-none" type="radio" name="gender" value="f">Female
                                            </label>
                                        </div>
                                    </div>

                                    <div class="qt-survey-tobacco my-3">
                                        <p>Do you use tobacco products?
                                            <span class="border border-secondary rounded-circle cur-p qt-tooltip">?</span>
                                        </p>
                                        <div class="btn-group w-100" role="group">
                                            <label class="btn btn-outline-primary btn-lg col">
                                                <input class="d-none" type="radio" name="tobacco" value="y">Yes
                                            </label>
                                            <label class="btn btn-primary btn-lg active col">
                                                <input class="d-none" type="radio" name="tobacco" value="n">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card py-3 my-3 px-4 cur-p qt-survey">
                                    <div class="d-flex align-items-center qt-survey-who">
                                        <div class="font-md pl-2 font-sm font-wight-600 text-primary">
                                            <div class="bg-primary text-white d-inline-flex align-items-center justify-content-center font-wight-700 qt-single-icon">+</div>
                                            <span class="pl-2">Add a Spouse</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card py-3 my-3 px-4 cur-p qt-survey">
                                    <div class="d-flex align-items-center qt-survey-who">
                                        <div class="font-md pl-2 font-sm font-wight-600 text-primary">
                                            <div class="bg-primary text-white d-inline-flex align-items-center justify-content-center font-wight-700 qt-single-icon">+</div>
                                            <span class="pl-2">Add a Dependent</span>
                                        </div>
                                    </div>
                                </div>
                                <a href="https://www.nationshealthinsurance.com/health-insurance-quote/" class="btn btn-tertiary btn-block btn-lg text-capitalize font-wight-600">next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}