{% extends 'base_nhaquote.html' %}
{% load i18n hp_tags static %}
{% block title %}
    {{ plan.plan_name }} | {{ block.super }}
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'nhaquote_old/css/stm_plan.css' %}">
{% endblock extra_css %}

{% block container %}
    {% if quote_request_form_data.Ins_Type == 'stm' %}
        {# overlay only need for customizing plans... And it's available only in stm #}
        <div id="overlay-loading">
            <img src="{% static 'quotes/img/ajax-loader.gif' %}" alt="ajax-loader">
        </div>
    {% endif %}

    <div class="container non-container-fluid-md">
        <div class="row">
            <div class="col-md-6">
                <div id="qt-plan-details" class="qt-3d-box-shadow">
                    <div class="card w100 text-center">
                        <div class="card-body qt-plan-details-body">
                            <div class="qt-plan-header">
                                <div class="qt-plan-img-wrapper">
                                    <img src="/static/quotes/img/stm-transparent/{{ plan.Name|plan_name_for_img }}.png" alt="HCC Advantage">
                                </div>
                                <h2 class="card-title qt-plan-name">{{ plan.Name }}-Plan {{ plan.Plan }}</h2>
                            </div>
                            <div class="qt-plan-info-wrapper">
                                {% block qt_plan_info %}{% endblock %}
                            </div>
                            
                            <div class="qt-plan-details-price">
                                <div class="qt-d-inline-block">
                                    <span class="qt-d-inline-block qt-plan-price-superscript">$</span>
                                    <span class="qt-plan-price-value" id="qt-actual-premium">{% plan_actual_premium plan %}</span>
                                    <span class="qt-d-inline-block qt-plan-price-subscript">{% if plan.Payment_Option != '2' %}/mo{% endif %} <span class="small">+fees</span></span>
                                    <hr>
                                </div>
                                
                            </div>
                            <a href="{% url 'quotes:stm_apply' plan.unique_url %}" class="btn qt-btn-tertiary btn-lg qt-apply-plan-link">Apply now</a>
                            <div class="mrg-t-30">
                                <a href="/static/quotes/brochure/stm/{{ plan.Name|plan_name_for_img }}.pdf" target="_blank" class="card-link qt-plan-brochure-file">
                                    <i class="fa fa-file-pdf-o"></i>
                                    View Plan Brochure
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div {% comment %}id="qt-sidebar-plan-details"{% endcomment %}>
                    <h2 class="mrg-b-5">Your Plan: <i>{{ plan.Name }}</i></h2>
                    <p class="small" style="color: #808080">
                        {% if quote_request_form_data.Ins_Type == 'stm' %}Short-Term{% elif quote_request_form_data.Ins_Type == 'lim' %}Limited{% else %}Ancillary{% endif %} Health Insurance
                    </p>
                    <div id="qt-sidebar-small-plan-description">
                        <p>It is a {% if quote_request_form_data.Ins_Type == 'stm' %}Short-Term{% elif quote_request_form_data.Ins_Type == 'lim' %}Limited{% else %}Ancillary{% endif %}
                            Health Insurance plan{% if quote_request_form_data.Ins_Type == 'stm' %}, meaning your plan will last {{ plan.Duration_Coverage|plan_duration_month }}
                            months and will automatically renew for a total length
                            of {{ plan.Duration_Coverage|plan_duration_total_month }} months (though you can cancel anytime){% endif %}.This is a great option for healthy individuals
                            who are looking for a more affordable alternative to ACA plans with streamlined benefits and do not need pre-existing conditions covered.
                            We recommend you review the full plan brochure to understand all the details, benefits and limitations of the plan.</p>
                    </div>
                </div>

                {% if quote_request_form_data.Ins_Type != 'anc' %}
                    <hr>
                    <div class="add-on-section">
                        <div class="mrg-t-20" id="add-on-plan-container">
                            {% csrf_token %}
                            <h2>Add-on:</h2>
                            <div class="row">
                                <div class="col-sm-12 addon_plan_action_message"></div>
                                <div class="col-sm-12" id="available-add-on">
                                    <div class="panel panel-default ms-panel-adon">
                                        <div class="panel-heading">
                                            <h3 class="panel-title bold">Available Add-on plans</h3>
                                        </div>
                                        <div class="panel-body addon_plans_panel addon_plans_panel_available">
                                            {% for addon_plan in remaining_addon_plans %}
                                                <div data-carrier_name="{{ addon_plan.carrier_name }}" class="row"
                                                     style="border: 1px solid #dddddd; border-radius: 5px;margin-top: 5px; padding: 5px; display: flex;">
                                                    <div class="col-sm-9" style="flex: 3; border-right: 1px solid #dddddd;">
                                                        <h4>{{ addon_plan.Name }}</h4>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                Premium: ${{ addon_plan.actual_premium }} / mo
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <a class="add_on_plan_brochure"
                                                                   href="/static/quotes/add_on_brochure/{{ addon_plan.carrier_name|add_on_name_for_brochure }}.pdf"
                                                                   target="_blank">
                                                                    <span class="fa fa-file-pdf-o"></span> Brochure
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 text-right" style="flex: 1;">
                                                        <img width="35px" style="top: 25%; position: relative;" class="none"
                                                             src="{% static 'quotes/img/ajax-loader.gif' %}">
                                                        <button class="btn btn-success action_addon_plan_button" type="button"
                                                                style="top: 25%; position: relative;"
                                                                data-action="{% url 'quotes:stm_plan_addon_action' plan.unique_url 'include' %}"
                                                                data-addon-plan="{{ addon_plan.data_as_dict|jsonify }}">
                                                            <span class="fa fa-plus"></span> Add
                                                        </button>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" id="selected-add-on">
                                    <div class="panel panel-default ms-panel-adon">
                                        <div class="panel-heading">
                                            <h3 class="panel-title bold">Selected Add-on Plans</h3>
                                        </div>
                                        <div class="panel-body addon_plans_panel addon_plans_panel_selected">
                                            {% for addon_plan in selected_addon_plans %}
                                                <div class="row" style="border: 1px solid #dddddd; border-radius: 5px;  margin-top: 5px; padding: 5px; display: flex;">
                                                    <div class="col-sm-9" style="flex: 3; border-right: 1px solid #dddddd;">
                                                        <h4>{{ addon_plan.Name }}</h4>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                Premium: ${{ addon_plan.actual_premium }} / mo
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <a class="add_on_plan_brochure"
                                                                   href="/static/quotes/add_on_brochure/{{ addon_plan.carrier_name|add_on_name_for_brochure }}.pdf"
                                                                   target="_blank">
                                                                    <span class="fa fa-file-pdf-o"></span> Brochure
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 text-right" style="flex: 1;">
                                                        <img width="35px" style="top: 25%; position: relative;" class="none"
                                                             src="{% static 'quotes/img/ajax-loader.gif' %}">
                                                        <button class="btn btn-warning action_addon_plan_button" type="button"
                                                                style="top: 25%; position: relative;"
                                                                data-action="{% url 'quotes:stm_plan_addon_action' plan.unique_url 'remove' %}"
                                                                data-addon-plan="{{ addon_plan.data_as_dict|jsonify }}">
                                                            <span class="fa fa-remove"> Remove</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            {% empty %}
                                                <h4>No Add-on Plan</h4>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if quote_request_form_data.Ins_Type == 'stm' %}
                    <hr>
                    <div class="text-center">
                        <a href="#qt-customize-plan" id="qt-customize-plan-link" class="text-muted">
                            <i class="fa fa-sliders"></i>
                            Customize your plan
                        </a>
                    </div>
                {% endif %}

                {% if benefit_coverage %}
                    <hr>
                    <div id="qt-package-includes">
                        <h2 class="mrg-b-40">Your package includes:</h2>
                        <div class="qt-all-pkg-includes">
                            {% for bc in benefit_coverage %}
                                <div class="cur-p qt-each-pkg-include" unselectable="on">
                                    <div class="flex-center-between qt-each-pkg-hover">
                                        <div class="flex-center-between">
                                            <img class="qt-each-pkg-img" src="{% if bc.get_instance.image %}{{ bc.get_instance.image.url }}{% endif %}">
                                            <h3>{{ bc.get_instance.title }}</h3>
                                        </div>
                                        <span class="qt-each-pkg-dropdown-icon">
                                        <svg width="20" viewBox="0 0 24 24">
                                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                                            <path fill="none" d="M0 0h24v24H0z"></path>
                                        </svg>
                                    </span>
                                    </div>
                                    <div class="none qt-each-pkg-hover-content">
                                        <hr>
                                        {{ bc.get_instance.description|safe }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if quote_request_form_data.Ins_Type == 'stm' %}
                    <hr>
                    <div id="qt-customize-plan">
                        <h2>Customize your plan:</h2>
                        <div class="qt-all-customize-dropdowns">
                            {% if alternate_coverage_duration %}
                                <div class="dropdown">
                                    <button type="button" data-toggle="dropdown" class="btn w100">
                                    <span class="ms-block mrg-r-10">
                                        <span class="ms-block qt-customize-plan-title">Coverage Duration</span>
                                        <span class="ms-block qt-customize-plan-selected-val">{{ plan.Duration_Coverage }}</span>
                                    </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for duration in alternate_coverage_duration %}
                                            <li data-value="{{ duration }}" {% if plan.Duration_Coverage == duration %}class="active"{% endif %}>{{ duration }}</li>
                                        {% endfor %}
                                    </ul>
                                    <form action="{% url 'quotes:alternate_duration_coverage' plan.unique_url %}" class="none" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden"
                                               id="{{ duration_coverage_form.Duration_Coverage.id_for_label }}"
                                               name="{{ duration_coverage_form.Duration_Coverage.html_name }}"
                                               value="{{ plan.Duration_Coverage }}">
                                    </form>
                                </div>
                            {% endif %}
                            {% if quote_request_form_data.Ins_Type == 'stm' and alternate_benefit_amount %}
                                <div class="dropdown">
                                    <button type="button" data-toggle="dropdown" class="btn w100">
                                    <span class="ms-block mrg-r-10">
                                        <span class="ms-block qt-customize-plan-title">Maximum Out Of Pocket</span>
                                        <span class="ms-block qt-customize-plan-selected-val" id="qt-benefit-amount-dropdown">{{ plan.Benefit_Amount }}</span>
                                    </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for benefit in alternate_benefit_amount %}
                                            <li data-value="{{ benefit }}" {% if plan.Benefit_Amount == benefit %}class="active"{% endif %}>{{ benefit }}</li>
                                        {% endfor %}
                                    </ul>
                                    <form action="{% url 'quotes:select_from_quoted_plans_ajax' plan.unique_url %}" class="none" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden"
                                               id="{{ benefit_amount_coinsurance_coverage_max_form.Benefit_Amount.id_for_label }}"
                                               name="{{ benefit_amount_coinsurance_coverage_max_form.Benefit_Amount.html_name }}"
                                               value="{{ plan.Benefit_Amount }}">
                                    </form>
                                </div>
                            {% endif %}
                            {% if quote_request_form_data.Ins_Type == 'stm' and alternate_coinsurace_percentage %}
                                <div class="dropdown">
                                    <button type="button" data-toggle="dropdown" class="btn w100">
                                    <span class="ms-block mrg-r-10">
                                        <span class="ms-block qt-customize-plan-title">Co-Insurance Percentage</span>
                                        <span class="ms-block qt-customize-plan-selected-val" id="qt-coinsurance-percentage-dropdown">{{ plan.Coinsurance_Percentage }}</span>
                                    </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for percentage in alternate_coinsurace_percentage %}
                                            <li data-value="{{ percentage }}" {% if plan.Coinsurance_Percentage == percentage %}class="active"{% endif %}>{{ percentage }}</li>
                                        {% endfor %}
                                    </ul>
                                    <form action="{% url 'quotes:select_from_quoted_plans_ajax' plan.unique_url %}" class="none" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden"
                                               id="{{ benefit_amount_coinsurance_coverage_max_form.Coinsurance_Percentage.id_for_label }}"
                                               name="{{ benefit_amount_coinsurance_coverage_max_form.Coinsurance_Percentage.html_name }}"
                                               value="{{ plan.Coinsurance_Percentage }}">
                                    </form>
                                </div>
                            {% endif %}
                            {% if quote_request_form_data.Ins_Type == 'stm' and alternate_coverage_max %}
                                <div class="dropdown">
                                    <button type="button" data-toggle="dropdown" class="btn w100">
                                    <span class="ms-block mrg-r-10">
                                        <span class="ms-block qt-customize-plan-title">Co-Insurance Percentage</span>
                                        <span class="ms-block qt-customize-plan-selected-val" id="qt-coverage-max-dropdown">{{ plan.coverage_max_value }}</span>
                                    </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for coverage in alternate_coverage_max %}
                                            <li data-value="{{ coverage }}" {% if plan.coverage_max_value == coverage %}class="active"{% endif %}>{{ coverage }}</li>
                                        {% endfor %}
                                    </ul>
                                    <form action="{% url 'quotes:select_from_quoted_plans_ajax' plan.unique_url %}" class="none" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden"
                                               id="{{ benefit_amount_coinsurance_coverage_max_form.Coverage_Max.id_for_label }}"
                                               name="{{ benefit_amount_coinsurance_coverage_max_form.Coverage_Max.html_name }}"
                                               value="{{ plan.coverage_max_value }}">
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <hr>
                <div>
                    <h3>Coverage details</h3>
                    {% if quote_request_form_data.Ins_Type == 'stm' %}
                        <div>
                            No insurance policy covers everything, and short-term plans have important exclusions.
                            Please review the following information to make sure this plan covers what matters to you.
                        </div>
                    {% else %}
                        <div>
                            A health benefit that is intended to supplement your major medical health care plan. It pays a daily benefit for each day you are confined in a hospital, or depending on
                            the plan you select, certain other medical services. Benefits are payable directly to you regardless of any other insurance you may have. These benefits may be used to help
                            cover out-of-pocket medical expenses or any other expenses you may have.
                        </div>
                    {% endif %}
                    <a href="/static/quotes/brochure/stm/{{ plan.Name|plan_name_for_img }}.pdf"
                       target="_blank"
                       class="qt-plan-brochure-file">View Plan Brochure</a>
                </div>

                {% if restrictions_omissions %}
                    <hr>
                    <div id="restrictions-n-omissions">
                        <h3>Disclaimer</h3>
                        {% for bc in restrictions_omissions %}
                            <div>
                                <h4>{{ bc.get_instance.title }}</h4>
                                <div>{{ bc.get_instance.description|safe }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock container %}


{% block extra_js %}
    <script id="addon_plan_template_available" type="x-tmpl-mustache">
    <div data-carrier_name="[[ carrier_name ]]" class="row" style="border: 1px solid #dddddd; border-radius: 5px;margin-top: 5px; padding: 5px; display: flex;">
        <div class="col-sm-9" style="flex: 3; border-right: 1px solid #dddddd;">
            <h4>[[Name]]</h4>
            <div class="row">
                <div class="col-sm-6">
                    Premium: $[[actual_premium]] / mo
                </div>
                <div class="col-sm-6">
                    <a class="add_on_plan_brochure"
                       href="/static/quotes/add_on_brochure/[[add_on_name_for_brochure]].pdf"
                       target="_blank">
                        <span class="fa fa-file-pdf-o"></span> Brochure
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-right" style="flex: 1;">
            <img width="35px" style="top: 25%; position: relative;" class="none"
                 src="{% static 'quotes/img/ajax-loader.gif' %}">
            <button class="btn btn-success action_addon_plan_button" type="button"
                    style="top: 25%; position: relative;"
                    data-action="[[include_action]]"
                    data-addon-plan="[[data_as_json]]">
                <span class="fa fa-plus"></span> Add
            </button>
        </div>
    </div>
</script>

    <script id="addon_plan_template_selected" type="x-tmpl-mustache">
    <div class="row" style="border: 1px solid #dddddd; border-radius: 5px; margin-top: 5px; padding: 5px; display: flex;">
        <div class="col-sm-9" style="flex: 3; border-right: 1px solid #dddddd;">
            <h4>[[Name]]</h4>
            <div class="row">
                <div class="col-sm-6">
                    Premium: $[[actual_premium]] / mo
                </div>
                <div class="col-sm-6">
                    <a class="add_on_plan_brochure"
                       href="/static/quotes/add_on_brochure/[[add_on_name_for_brochure]].pdf"
                       target="_blank">
                        <span class="fa fa-file-pdf-o"></span> Brochure
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-right" style="flex: 1;">
            <img width="35px" style="top: 25%; position: relative;" class="none"
                 src="{% static 'quotes/img/ajax-loader.gif' %}">
            <button class="btn btn-warning action_addon_plan_button" type="button"
                    style="top: 25%; position: relative;"
                    data-action="[[remove_action]]"
                    data-addon-plan="[[data_as_json]]">
                <span class="fa fa-remove"></span> Remove
            </button>
        </div>
    </div>
</script>
    <script type="text/javascript" src="{% static 'nhaquote_old/js/plugins/mustache.min.js' %}"></script>
    <script>
        if(performance.navigation.type === 2) {
            console.log("Back button detected, reloading page");
            location.reload(true);
        }


        $(function() {

            Mustache.tags = ['[[', ']]'];
            var replace_re = RegExp(/ /g);
            var addon_plan_template_available = $('#addon_plan_template_available').html();
            var addon_plan_template_selected = $('#addon_plan_template_selected').html();
            Mustache.parse(addon_plan_template_available);
            Mustache.parse(addon_plan_template_selected);

            var $addon_plans_panel_available = $('.addon_plans_panel_available');
            var refresh_available_addon_plans = function(remaining_addon_plans, include_action) {
                $addon_plans_panel_available.empty();
                var addon_plan, rendered;
                for (var i=0; i < remaining_addon_plans.length; i++) {
                    addon_plan = remaining_addon_plans[i];
                    addon_plan['data_as_json'] = JSON.stringify(addon_plan);
                    addon_plan['include_action'] = include_action;
                    addon_plan['add_on_name_for_brochure'] = replace_re[Symbol.replace](addon_plan.carrier_name, "-");
                    rendered = Mustache.to_html(addon_plan_template_available, addon_plan);
                    $addon_plans_panel_available.append(rendered);
                }
                Grouping();
                executeData();
            };

            var $addon_plans_panel_selected = $('.addon_plans_panel_selected');
            var refresh_selected_addon_plans = function(selected_addon_plans, remove_action) {
                $addon_plans_panel_selected.empty();
                var addon_plan, rendered;
                for (var i=0; i < selected_addon_plans.length; i++) {
                    addon_plan = selected_addon_plans[i];
                    addon_plan['data_as_json'] = JSON.stringify(addon_plan);
                    addon_plan['remove_action'] = remove_action;
                    addon_plan['add_on_name_for_brochure'] = replace_re[Symbol.replace](addon_plan.carrier_name, "-");
                    rendered = Mustache.to_html(addon_plan_template_selected, addon_plan);
                    $addon_plans_panel_selected.append(rendered);
                }
                Grouping();
            };

            var $addon_plan_action_message = $('.addon_plan_action_message');
            var echo_addon_plan_action_message = function(json) {
                var msg;
                if (json.status === 'success') {
                    msg = '<div class="alert alert-success alert-dismissible" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span></button>' +
                        '<strong>Done! </strong> ' +
                        " addon plan " + '"' + json.related_addon.Name + '"' +
                        (json.action === 'include'? " added": " removed") +
                        '</div>';
                } else {
                    var all_errors = [];
                    for (var i = 0; i < json.error_keys.length; i++) {
                        all_errors = all_errors.concat(json.errors[json.error_keys[i]]);
                    }
                    msg = '<div class="alert alert-warning alert-dismissible" role="alert">' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span></button>' +
                        '<strong>Warning! </strong> ' +
                        " failed to " + (json.action === 'include'? "add": "remove") + " addon plan " +
                        '"' + json.related_addon.Name + '"' + '<br>' + all_errors.join(' ') +
                        '</div>';
                }
                $addon_plan_action_message.html(msg);
            };

            $('.addon_plans_panel').on('click', '.action_addon_plan_button', function(e) {
                var $that_button = $(this);
                e.preventDefault();
                saveData();
                var $that_img = $that_button.siblings('img');
                $that_img.removeClass('none');
                $that_button.addClass("none");

                var csrftoken = $.cookie('csrftoken');
                $.ajax({
                    url: $that_button.attr("data-action"),
                    beforeSend: function(xhr) {xhr.setRequestHeader("X-CSRFToken", csrftoken);},
                    data: JSON.parse($that_button.attr('data-addon-plan')), type: 'POST', dataType: 'json',
                    success: function(json) {
                        $that_img.addClass('none');
                        $that_button.removeClass("none");
                        echo_addon_plan_action_message(json);
                        if (json.status === 'success') {
                            refresh_available_addon_plans(json.remaining_addon_plans, json.include_action);
                            refresh_selected_addon_plans(json.selected_addon_plans, json.remove_action);
                        }
                    },
                    error: function() {
                        $that_img.addClass('none');
                        $that_button.removeClass("none");
                        alert("Something Went wrong, please try again after some time.");
                    }
                });
            });

            $('.apply-btn-ajax').on('click', function (event) {
                event.preventDefault();
                var $coverage_duration_dropdown = $('#alternative_plans_dropdown') ;
                var $alternative_benefit_amount_dropdown = $('#alternative_benefit_amount_dropdown') ;
                var $alternate_coinsurace_percentage = $('#alternate_coinsurace_percentage') ;
                console.log($coverage_duration_dropdown.val());
                console.log($alternative_benefit_amount_dropdown.val());
                console.log($alternate_coinsurace_percentage.val());
                {#location.href = $coverage_duration_dropdown.val();#}
            })
        });

        $(document).ready(function () {
            Grouping ();
            $('[data-clickResult]').hide();


            //making same height in available or selected add on plans
            {% comment %}if($(window).width() > 767)
            {
                var s_plan = $('#selected-add-on');
                var a_plan = $('#available-add-on');
                if (s_plan.height() > a_plan.height())  a_plan.find('.ms-panel-adon').css('min-height', s_plan.height() - 15);
                else  s_plan.find('.ms-panel-adon').css('min-height', a_plan.height() - 15);    //20 reduced for margin-bottom & padding bottom
            }{% endcomment %}
        });

        var plansDisplay = [];
        function Grouping ()
        {
            var addonParent = $('.addon_plans_panel_available');
            var carriers = [];
            var group_carrier = [];
            $('[data-carrier_name]').each(function () {
                var _this =  $(this);
                carriers.push(_this);   {# saving all elements #}
                group_carrier.push(_this.attr('data-carrier_name'));    {# saving "carrier_name" value which is coming by python #}
                _this.remove(); {# removing the element after saving #}
            });

            // group_carrier = jQuery.unique( group_carrier );
            var uniqueCarrier = Array.from(new Set(group_carrier));
            group_carrier = uniqueCarrier;
            group_carrier.sort();

            for(var i =0; i<group_carrier.length; i++)
            {
                var carrier_html = '';
                for(var j =0; j<carriers.length; j++)
                {
                    if(carriers[j].attr('data-carrier_name') === group_carrier[i])
                    {
                        carrier_html+=
                            ('<div class="row" style="border: 1px solid #dddddd; border-radius: 5px;margin-top: 5px; padding: 5px; display: flex;">'+
                                carriers[j].html()+
                                '</div>');
                    }
                }
                var html =
                    '<div class="row" style="border: 1px solid #dddddd; border-radius: 5px;margin-top: 5px; padding: 5px;">'+
                    '<div class="col-xs-12">'+
                    '<div class="row">'+
                    '<div class="col-xs-9">'+
                    '<h3 style="margin-top:10px;margin-left:10px">' + group_carrier[i] + '</h3>'+
                    '</div>'+
                    '<div class="col-xs-3">'+
                    '<button style="margin-left:auto;float:right;margin-top:6px" class="btn" data-clickTarget=' + group_carrier[i].toLowerCase().replace(/[^a-zA-Z0-9]+/g, "-") + '><i class="fa fa-chevron-down"></i></button>'+ //button for navigate group's child
                    '</div>'+
                    '</div>'+
                    '</div>'+
                    '<div data-clickResult=' + group_carrier[i].toLowerCase().replace(/[^a-zA-Z0-9]+/g, "-") + ' class="col-xs-12">'+
                    carrier_html+
                    '</div>'+
                    '</div>';
                addonParent.append(html);
            }

            $('[data-clickTarget]').off().click(function (e) {
                e.preventDefault();
                var _this = $(this);
                var _val = _this.attr('data-clickTarget');
                $('[data-clickResult='+ _val + ']').slideToggle();
            });
        }
        function executeData() {    {% comment %}set the div's display state{% endcomment %}
            $('[data-clickResult]').each(function () {
                var _this = $(this);
                var _temp = plansDisplay[_this.attr('data-clickResult')];
                _this.css('display', _temp === undefined ? 'none' : _temp);
            });
        }
        function saveData() {   {% comment %}saving the div's display state{% endcomment %}
            $('[data-clickResult]').each(function () {
                var _this = $(this);
                plansDisplay[_this.attr('data-clickResult')] = _this.css('display');
            });
        }

        $(function(){

            $('.apply-btn-ajax').click(function(e) {
                vimm_button_click_processing(
                    $(this),
                    ($button => false),
                    [' <span class="apply-btn-ajax">Applying for Selected Plan...</span>',
                        ' <span class="apply-btn-ajax">Applying for Selected Plan..</span>',
                        ' <span class="apply-btn-ajax">Applying for Selected Plan.</span>']
                );
            });
        });


    </script>

    <script>
        $('#qt-customize-plan-link').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top - 50	//(-0) because navbar height 50px
                    }, 1000);
                    return false;
                }
            }
        });
    
        $('.qt-all-customize-dropdowns').on('click', '.dropdown-menu>li:not(.active)', function (e) {
            let loading_div = $('#overlay-loading');
            loading_div.fadeIn();

            e.preventDefault();
            let _t = $(this);
            let _form = _t.parent().next();
            let _val = _t.attr('data-value');
            let $apply_button = $('.qt-apply-plan-link');
            let $coinsurance = $('#qt-stm-plan-coinsurance');
            let $benefit_amount = $('#qt-stm-plan-benefit-amount');
            let $coverage_max = $('#qt-stm-plan-coverage-max');
            let $premium = $('#qt-actual-premium')

            let $coinsurance_dropdown = $('#qt-coinsurance-percentage-dropdown');
            let $benefit_amount_dropdown = $('#qt-benefit-amount-dropdown');
            let $coverage_max_dropdown = $('#qt-coverage-max-dropdown');

            _form.children('input:not([name="csrfmiddlewaretoken"])').val(_val);
            $.ajax({
                url: _form.attr("action"),
                {#async : false,#}
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                data: _form.serialize(),
                type: 'POST',
                dataType: 'json',
                success: function (json) {
                    loading_div.fadeOut();
                    if (json.status === 'success') {

                        console.log("Test")

                        $apply_button.attr('href', json.url);
                        $coinsurance.html(json.coinsurance);
                        $benefit_amount.html(json.benefit_amount);
                        $coverage_max.html(json.coverage_maximum);
                        $premium.html(json.premium)

                        _t.parent().siblings('button').find('.qt-customize-plan-selected-val').html(_val);
                        _t.siblings().removeClass('active');
                        _t.addClass('active');

                        {#$coinsurance_dropdown.siblings().removeClass('active');#}
                        {#$coinsurance_dropdown.find('.qt-customize-plan-selected-val').html(json.coinsurance);#}
                        {#$coinsurance_dropdown.addClass('active');#}
                        {##}
                        {#$benefit_amount_dropdown.siblings().removeClass('active');#}
                        {#$benefit_amount_dropdown.find('.qt-customize-plan-selected-val').html(json.benefit_amount);#}
                        {#$benefit_amount_dropdown.addClass('active');#}
                        {##}
                        {#$coverage_max_dropdown.siblings().removeClass('active');#}
                        {#$coverage_max_dropdown.find('.qt-customize-plan-selected-val').html(json.coverage_maximum);#}
                        {#$coverage_max_dropdown.addClass('active');#}
                    } else {
                        location.reload();
                        {# TODO HANDLE THIS #}
                    }
                },
                error: function () {
                    loading_div.fadeOut();
                    location.reload();
                    {#TODO HANDLE#}
                }
            });
        });
        
        $('.qt-all-pkg-includes').on('click', '.qt-each-pkg-include', function () {
            let _t = $(this);
            let open_class_str = 'qt-pkg-include-open';
            if (_t.hasClass(open_class_str)) {
                _t.removeClass(open_class_str);
            } else {
                $('.qt-each-pkg-include').removeClass(open_class_str);
                _t.addClass(open_class_str);
                $('.qt-each-pkg-hover-content').each(function () {
                    $(this).slideUp();  // slide up other opened div
                })
            }
            _t.children('.qt-each-pkg-hover-content').slideToggle();
        })
    </script>
{% endblock extra_js %}