<b-card no-body class="mb-1">
    <b-card-header header-tag="header" class="px-1 py-2 bg-white" role="tab">
        <b-btn block href="#" v-b-toggle.accordion{{ index }} variant="link" class="text-left text-no-decoration font-wight-700 d-flex align-items-center">
            <span class="font-weight-bold bg-primary text-white faq-toggle-icon mr-4 qt-accordion-plus">+</span>
            <span class="font-weight-bold bg-primary text-white faq-toggle-icon mr-4 qt-accordion-minus">-</span>
            {{ ques }}
        </b-btn>
    </b-card-header>
    <b-collapse id="accordion{{ index }}" accordion="qt-accordion" role="tabpanel" class="border-bottom">
        <b-card-body>
            <p class="card-text text-left">{{ ans }}</p>
        </b-card-body>
    </b-collapse>
</b-card>