{# for media file upload hack #}
<iframe id="form-target" name="upload_target" class="d-none"></iframe>
<form id="media-upload-form" action="{% url 'dashboard:editor_media_upload' %}" target="upload_target" method="post" enctype="multipart/form-data" class="d-none">
    {% csrf_token %}
    <input name="media_file" type="file" onchange="document.getElementById('media-upload-form').submit();this.value='';">
</form>

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

<script>
    tinymce.init({
        selector: '#{{ selector }}',
        relative_urls: false,
        remove_script_host: false,
        convert_urls: true,
        height: 200,
        theme: 'modern',
        plugins: [
            'autoresize advlist autolink lists link image charmap preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
        image_advtab: true,
        templates: [
            {title: 'Test template 1', content: 'Test 1'},
            {title: 'Test template 2', content: 'Test 2'}
        ],
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css'
        ],
        file_browser_callback: function (fieldname, url, type, win) {
            document.querySelector("#media-upload-form input[name='media_file']").click();
        }
    })
</script>