#support{
  background: #19B4FA;
  padding: 100px 0;
}
#form{
  max-width: 480px;
  margin: 0 auto;
}
.submit{
  background: #FE8829;
  color: #fff;
  border: none;
  border-radius: 4px;
  border-bottom: 4px solid #B4601C;
}
#address{
  margin: 80px 0;
}