{% extends 'root_base.html' %}

{% load static %}

{% block vue_router %}
    <script src="{% static 'vue/vue-router.js' %}"></script>
{% endblock %}

{% block navbar_brand %}
    <router-link :to="{ name: 'root'}" class="navbar-brand font-weight-bold">
        <span><img width="30" src="{% static 'img/pre-logo.png' %}" alt=""></span> quote <i class="text-uppercase text-primary">turbo</i>
    </router-link>
{% endblock %}


{% block bootstrap_vue_init %}
    <script type="text/javascript">
        /****************
         * bootstrap-vue *
         *****************/
        // this should be initialized at last.
        // there must a variable named: router
        new Vue({
            delimiters: ['[[', ']]'],
            components: all_components,
            router,
        }).$mount('#bootstrap-vue');
    </script>
{% endblock %}