{% extends 'quotes/base.html' %}
{% load qt_tags static %}

{% block main_content %}
    <div id="overlay-loading" style="display: none">
        <img src="{% static 'quotes/img/ajax-loader.gif' %}" alt="ajax-loader">
    </div>
    <section id="main-quote">
        <div class="container">
            <router-view></router-view>
        </div>
    </section>
    <div class="container my-5">
        <p class="text-secondary">{{ general_topic.top_text|safe }}</p>
    </div>
    {% comment %}
    <section id="product_logo" class="d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class=" col-sm-6 col-md-4 col-lg-2 ">
                    <div class="text-center py-5">
                        <a href="#" class="product_item">

                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583
                                                    298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                            </svg>

                            <h6>Medicare Plans</h6>

                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 ">
                    <div class="text-center py-5">
                        <a href="#" class="product_item">

                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583
                                                    298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                            </svg>

                            <h5>Obama Care</h5>

                        </a>
                    </div>
                </div>
                <div class=" col-sm-6 col-md-4 col-lg-2 ">
                    <div class="text-center py-5">
                        <a href="#" class="product_item">

                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583
                                                    298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                            </svg>

                            <h5>Small Business Insurance</h5>

                        </a>
                    </div>
                </div>
                <div class=" col-sm-6 col-md-4 col-lg-2 ">
                    <div class="text-center py-5">
                        <a href="#" class="product_item">

                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583
                                                    298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                            </svg>

                            <h5>Short Term Insurance</h5>

                        </a>
                    </div>
                </div>
                <div class=" col-sm-6 col-md-4 col-lg-2 ">
                    <div class="text-center py-5">
                        <a href="#" class="product_item">

                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583
                                                    298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                            </svg>

                            <h5>Health Insurance</h5>

                        </a>
                    </div>
                </div>
                <div class=" col-sm-6 col-md-4 col-lg-2 ">
                    <div class="text-center py-5">
                        <a href="#" class="product_item">

                            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583
                                                    298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                            </svg>

                            <h5>Medical Supplement</h5>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="product_logo_sm" class="py-5 mt-1 d-block d-lg-none">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="">
                        <a href="#" target="_blank">
                            <div class="d-flex  border border-secondary py-2 hover_color">

                                <div class="p-2 hover_color" style="color: #19b4fa">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                              d="M544 96H416V32c0-17.7-14.3-32-32-32H192c-17.7 0-32 14.3-32 32v64H32c-17.7 0-32 14.3-32 32v368c0 8.8 7.2 16 16 16h544c8.8 0 16-7.2 16-16V128c0-17.7-14.3-32-32-32zM160 436c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm160 128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm16-170c0 3.3-2.7 6-6 6h-26v26c0 3.3-2.7 6-6 6h-20c-3.3 0-6-2.7-6-6v-26h-26c-3.3 0-6-2.7-6-6v-20c0-3.3 2.7-6 6-6h26V86c0-3.3 2.7-6 6-6h20c3.3 0 6 2.7 6 6v26h26c3.3 0 6 2.7 6 6v20zm144 298c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40z"></path>
                                    </svg>
                                </div>
                                <div class="p-2 font-weight-bold text-dark hover_color">Medicare Plans</div>
                                <div class="ml-auto p-2  text-dark hover_color">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                        <path fill="currentColor"
                                              d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                    </svg>
                                </div>

                            </div>
                        </a>
                        <a href="#" target="_blank">
                            <div class="d-flex  border border-secondary border-top-0 py-2">

                                <div class="p-2 " style="color: #19b4fa">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                              d="M544 96H416V32c0-17.7-14.3-32-32-32H192c-17.7 0-32 14.3-32 32v64H32c-17.7 0-32 14.3-32 32v368c0 8.8 7.2 16 16 16h544c8.8 0 16-7.2 16-16V128c0-17.7-14.3-32-32-32zM160 436c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm160 128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm16-170c0 3.3-2.7 6-6 6h-26v26c0 3.3-2.7 6-6 6h-20c-3.3 0-6-2.7-6-6v-26h-26c-3.3 0-6-2.7-6-6v-20c0-3.3 2.7-6 6-6h26V86c0-3.3 2.7-6 6-6h20c3.3 0 6 2.7 6 6v26h26c3.3 0 6 2.7 6 6v20zm144 298c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40z"></path>
                                    </svg>
                                </div>
                                <div class="p-2  font-weight-bold text-dark">Medicare Plans</div>
                                <div class="ml-auto p-2  text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                        <path fill="currentColor"
                                              d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                    </svg>
                                </div>

                            </div>
                        </a>
                        <a href="#" target="_blank">
                            <div class="d-flex  border border-secondary border-top-0 py-2">

                                <div class="p-2 " style="color: #19b4fa">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                              d="M544 96H416V32c0-17.7-14.3-32-32-32H192c-17.7 0-32 14.3-32 32v64H32c-17.7 0-32 14.3-32 32v368c0 8.8 7.2 16 16 16h544c8.8 0 16-7.2 16-16V128c0-17.7-14.3-32-32-32zM160 436c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm160 128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm16-170c0 3.3-2.7 6-6 6h-26v26c0 3.3-2.7 6-6 6h-20c-3.3 0-6-2.7-6-6v-26h-26c-3.3 0-6-2.7-6-6v-20c0-3.3 2.7-6 6-6h26V86c0-3.3 2.7-6 6-6h20c3.3 0 6 2.7 6 6v26h26c3.3 0 6 2.7 6 6v20zm144 298c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40z"></path>
                                    </svg>
                                </div>
                                <div class="p-2 font-weight-bold text-dark">Medicare Plans</div>
                                <div class="ml-auto p-2  text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                        <path fill="currentColor"
                                              d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                    </svg>
                                </div>

                            </div>
                        </a>
                        <a href="#" target="_blank">
                            <div class="d-flex  border border-secondary border-top-0 py-2">

                                <div class="p-2 " style="color: #19b4fa">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                              d="M544 96H416V32c0-17.7-14.3-32-32-32H192c-17.7 0-32 14.3-32 32v64H32c-17.7 0-32 14.3-32 32v368c0 8.8 7.2 16 16 16h544c8.8 0 16-7.2 16-16V128c0-17.7-14.3-32-32-32zM160 436c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm160 128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm16-170c0 3.3-2.7 6-6 6h-26v26c0 3.3-2.7 6-6 6h-20c-3.3 0-6-2.7-6-6v-26h-26c-3.3 0-6-2.7-6-6v-20c0-3.3 2.7-6 6-6h26V86c0-3.3 2.7-6 6-6h20c3.3 0 6 2.7 6 6v26h26c3.3 0 6 2.7 6 6v20zm144 298c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40z"></path>
                                    </svg>
                                </div>
                                <div class="p-2  font-weight-bold text-dark">Medicare Plans</div>
                                <div class="ml-auto p-2  text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                        <path fill="currentColor"
                                              d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                    </svg>
                                </div>

                            </div>
                        </a>
                        <a href="#" target="_blank">
                            <div class="d-flex  border border-secondary border-top-0 py-2 ">

                                <div class="p-2 " style="color: #19b4fa">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                              d="M544 96H416V32c0-17.7-14.3-32-32-32H192c-17.7 0-32 14.3-32 32v64H32c-17.7 0-32 14.3-32 32v368c0 8.8 7.2 16 16 16h544c8.8 0 16-7.2 16-16V128c0-17.7-14.3-32-32-32zM160 436c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm160 128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm16-170c0 3.3-2.7 6-6 6h-26v26c0 3.3-2.7 6-6 6h-20c-3.3 0-6-2.7-6-6v-26h-26c-3.3 0-6-2.7-6-6v-20c0-3.3 2.7-6 6-6h26V86c0-3.3 2.7-6 6-6h20c3.3 0 6 2.7 6 6v26h26c3.3 0 6 2.7 6 6v20zm144 298c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40z"></path>
                                    </svg>
                                </div>
                                <div class="p-2  font-weight-bold text-dark">Medicare Plans</div>
                                <div class="ml-auto p-2  text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                        <path fill="currentColor"
                                              d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                    </svg>
                                </div>

                            </div>
                        </a>
                        <a href="#" target="_blank">
                            <div class="d-flex  border border-secondary border-top-0 py-2">

                                <div class="p-2 " style="color: #19b4fa">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                              d="M544 96H416V32c0-17.7-14.3-32-32-32H192c-17.7 0-32 14.3-32 32v64H32c-17.7 0-32 14.3-32 32v368c0 8.8 7.2 16 16 16h544c8.8 0 16-7.2 16-16V128c0-17.7-14.3-32-32-32zM160 436c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm160 128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm16-170c0 3.3-2.7 6-6 6h-26v26c0 3.3-2.7 6-6 6h-20c-3.3 0-6-2.7-6-6v-26h-26c-3.3 0-6-2.7-6-6v-20c0-3.3 2.7-6 6-6h26V86c0-3.3 2.7-6 6-6h20c3.3 0 6 2.7 6 6v26h26c3.3 0 6 2.7 6 6v20zm144 298c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-128c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40z"></path>
                                    </svg>
                                </div>
                                <div class="p-2  font-weight-bold text-dark">Medicare Plans</div>
                                <div class="ml-auto p-2  text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                        <path fill="currentColor"
                                              d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                    </svg>
                                </div>

                            </div>
                        </a>


                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="about-hi" class="container py-5">
        <div class="py-3">
            <h2 class=" text-center font-weight-bold">{{ general_topic.service_heading }}</h2>
            <h4 class="hi-subtitle text-center">{{ general_topic.service_sub_heading|safe }}</h4>
        </div>
        <div class="row mt-5">
            <div class="col-md-5">
                {{ general_topic.service_items|service_item_template_as_str|safe }}
            </div>

            <div class="col-md-7 img-w100-container">
                <img src="{{ general_topic.service_img.url }}" alt="" class="rounded feature-img">
            </div>
        </div>
    </section>
    <section id="statistics">
        <div class="container">
            <div class="row">
                {{ general_topic.statistics|statistics_template_as_str|safe }}
            </div>
        </div>
    </section>
    <section id="info" class="container my-5">
        <h2 class="mt-5  text-center font-weight-bold">All The Health Insurance Resources You’ll Ever Need</h2>
        <h4 class="mt-5  text-center  text-secondary d-block d-md-none d-lg-none">Health insurance doesn't have to be
            complicated</h4>
        <div id="vue-tab" class="d-flex justify-content-between my-5">
            <b-tabs>
                <div class="">
                    <b-tab title="Obamacare" active class="title-center">
                        <div class="row ">
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </b-tab>
                </div>
                <div>
                    <b-tab title="Health Insurance" class="text-warning">
                        <div class="row ">
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </b-tab>
                </div>
                <div>
                    <b-tab title="Medicare">
                        <div class="row ">
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </b-tab>
                </div>
                <div>
                    <b-tab title="Medicare Supplement">
                        <div class="row ">
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </b-tab>
                </div>
                <div>
                    <b-tab title="Small Business">
                        <div class="row ">
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="font-weight-bold">
                                    <div class="card mt-4">
                                        <img class="card-img-top d-none d-md-block"
                                             src="{% static 'quotes/img/1.jpg' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title text-dark font-weight-bold">Open Enrollment 2019: How
                                                to Navigate Health Insurance for Next Year</h5>
                                            <p class="card-text text-muted font-weight-normal">You can join a health
                                                insurance plan each year between November 1 and December 15.</p>
                                            Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <path fill="currentColor"
                                                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </b-tab>
                </div>
            </b-tabs>
        </div>
        <div class="text-center font">
            <a href="#" target="_blank"><h4 class="font-weight-bold">See All Health Insurance resources</h4></a>
        </div>
    </section>
    <section id="testimonial" class="mt-5" {% if general_topic.review_bg %}style="background-image: url('{{ general_topic.review_bg.url }}')"{% endif %}>
        <div class="container text-center text-light">
            <h2>{{ general_topic.review_heading }}</h2>
        </div>
        <div class="testimonial_content container mx-auto mt-5 text-light">
            <div class="row">
                {{ general_topic.review_items|review_template_as_str|safe }}
            </div>

        </div>
    </section>
    <section id="question" class="py-5">
        <div class="container text-center">
            <img src="{{ general_topic.faq_img.url }}" alt="" class="question-img">
        </div>
        <h2 class="text-center">{{ general_topic.faq_heading|safe }}</h2>
        <div class="container text-center my-5">
            <div class="accordion" id="qt-accordion">
                <div role="tablist">
                    {{ general_topic.faqs|faq_template_as_str|safe }}
                </div>
            </div>
        </div>
        <div class="container text-center mb-5">
            <h6>
                <a href="{% url 'about:home' %}" class="font-weight-bold">
                    Learn more About Us
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                        <path fill="currentColor"
                              d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                    </svg>
                </a></h6>
        </div>
    </section>
    {% endcomment %}
    {% comment %}<section id="blog" class="bg-white py-5">
        <div class="text-center container"><h2 class="font-weight-bold"> Recently Written By Our Insurance Experts</h2></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mt-5">
                    <a href="">
                        <div class="position-relative">
                            <img src="{% static 'quotes/img/blog1.jpg' %}" alt="">
                            <div class="position-absolute text-center blog-article">
                                <button class="btn btn-warning p-2 text-light"><h3>News</h3></button>
                                <h2 class="text-light text-center mt-2">Turning 26: Health Insurance Guide for Those Aging Off Their Parents’ Plan</h2>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="blog-right">
                        <a href="">
                            <img src="{% static 'quotes/img/blog3.jpg' %}" alt="">
                            <h4 class=" blog-question">Q: Will the Medicare Part B Premium Cost Increase in 2018?</h4>
                        </a>
                    </div>
                    <div class="blog-right text-secondary">
                        <a href="">
                            <img src="{% static 'quotes/img/blog2.jpg' %}" alt="">
                            <h4 class=" mt-4 blog-question">4 States Are Restoring the Individual Mandate to Buy Health Insurance</h4>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>{% endcomment %}
{% endblock %}


{% block vue_templates %}
    {% include 'vue-templates/vue-homepage.html' %}
{% endblock %}

{% block bottom_js %}
    <script src="{% static 'jquery/jquery-ajax-only.min.js' %}"></script>
    <script src="{% static 'vue/vue-cookies.js' %}"></script>
    <script src="{% static 'quotes/js/landing_page.js' %}"></script>
{% endblock %}
