<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    {% block meta %}{% include 'snippets/meta_default.html' %}{% endblock %}

    <title>{% block title %}Quote Turbo{% endblock %}</title>

    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    {% block bootstrap_vue %}{% include 'snippets/static-bootstrap-vue.html' %}{% endblock %}

    {% block vue_router %}{% endblock %}

    {% block head_css %}{% endblock %}
    {% block head_js %}{% endblock %}
</head>
<body>

<div id="bootstrap-vue">
    {% block header %}
        <header>
            <b-navbar toggleable="lg" type="light" variant="light">
                <div class="container">
                    <b-navbar-toggle target="navbar_items" class="border-0 outline-0"></b-navbar-toggle>

                    {% block navbar_brand %}
                        <b-navbar-brand href="{% url 'quotes:home' %}" class="font-weight-bold">
                            <span><img width="30" src="{% static 'img/pre-logo.png' %}" alt=""></span> quote <i class="text-uppercase text-primary">turbo</i>
                        </b-navbar-brand>
                    {% endblock %}

                    <b-collapse is-nav id="navbar_items">
                        <b-navbar-nav class="ml-auto">
                            <b-nav-item href="#">Health Insurance</b-nav-item>
                            <b-nav-item href="#">About</b-nav-item>
                            <b-nav-item href="#">Medicare</b-nav-item>
                            <b-nav-item href="#">Learn</b-nav-item>
                            <b-nav-item href="#">Blog</b-nav-item>
                        </b-navbar-nav>
                    </b-collapse>
                </div>
            </b-navbar>
        </header>
    {% endblock %}

    <div id="QUOTE_TURBO" class="pt-5">
        {% block main_content %}{% endblock %}
    </div>

    {% block footer %}
        <footer class="bg-dark text-center mt-5">
            <div class="text-white py-4">
                Copyright © 2018
            </div>
        </footer>
    {% endblock %}
</div>

{% block vue_templates %}{% endblock %}
{% block bottom_js %}{% endblock %}

{% block bootstrap_vue_init %}
    <script type="text/javascript">
        /****************
         * bootstrap-vue *
         *****************/
        // this should be initialized at last.
        new Vue({
            delimiters: ['[[', ']]'],
        }).$mount('#bootstrap-vue');
    </script>
{% endblock %}
</body>
</html>