<div class="container">
    <div class="row">
        {% for item in items %}
            <div class="col-md-4 text-center">
                <div class="text-primary">
                    {% if item.icon.icon_type == 'img' and item.icon.img_icon %}
                        <img width="90" src="/media/{{ item.icon.img_icon }}" alt="">
                    {% elif item.icon.icon_type == 'svg' %}
                        {# TODO: SVG size have to implement #}
                        {{ item.icon.svg_icon|safe }}
                    {% endif %}
                </div>
                <div class="p-3" style="font-size: 16px">
                    {{ item.content|safe }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{# TODO: remove code below #}
<div class="text-center">
    <a class="btn btn-primary btn-lg" href="#">Learn More</a>
</div>
