{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}{{ action }} Page Item: Two Column | {{ block.super }}{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dashboard:all_pages' %}">Page</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dashboard:all_two_cols' %}">Page Item: Two Column</a></li>
    <li class="breadcrumb-item active">{{ action }} Two Column</li>
{% endblock %}

{% block dashboard_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{% if action.lower == 'create' %}Add New{% else %}Edit{% endif %} Two Column</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="form-group p-md-3 p-2 mb-4 border border-dark">
                        <label for="{{ form.title.id_for_label }}">Title</label>
                        <input type="text"
                               class="form-control {% if form.title.errors %}border-danger{% endif %}"
                               name="{{ form.title.name }}"
                               id="{{ form.title.id_for_label }}"
                               value="{{ form.title.value|default:'' }}"
                               placeholder="Title">

                        {% if form.title.errors %}
                            <div class="form_field_error text-danger form-input-error">{{ form.title.errors|join:" " }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group border border-secondary p-2">
                        <label for="{{ form.img.id_for_label }}">Image (One column)</label>
                        <b-form-file accept=".jpg, .png, .gif"
                                     class="form-control {% if form.img.errors %}border-danger{% endif %}"
                                     name="{{ form.img.name }}"
                                     id="{{ form.img.id_for_label }}"
                                     value="{{ form.img.value|default:'' }}"></b-form-file>
                        {% if form.img.value %}<img width="150" src="/media/{{ form.img.value }}" alt="">{% endif %}
                        {% if form.img.errors %}
                            <div class="form_field_error text-danger form-input-error">{{ form.img.errors|join:" " }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group p-md-3 p-2 mb-4 border border-dark">
                        <label for="{{ form.url.id_for_label }}">Url</label>
                        {% comment %}<input
                                type="text"
                                class="form-control {% if form.url.errors %}border-danger{% endif %}"
                                name="{{ form.url.name }}"
                                id="{{ form.url.id_for_label }}"
                                value="{{ form.url.value|default:'' }}"
                                placeholder="/url-friendly/text-only/allowed/">{% endcomment %}
                        <select name="{{ form.url.html_name }}" id="{{ form.url.id_for_label }}" class="form-control" value="{{ form.url.value|default:'' }}">
                            <option selected="selected" disabled="disabled">----</option>
                            {% for val, opt in form.fields.url.choices %}
                                <option value="{{ val }}" {% if form.url.value == val %}selected{% endif %}>{{ opt }}</option>
                            {% endfor %}
                        </select>

                        {% if form.url.errors %}
                            <div class="form_field_error text-danger form-input-error">{{ form.url.errors|join:" " }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group p-md-3 p-2 mb-4 border border-dark">
                        <label for="{{ form.url_text.id_for_label }}">Url Text</label>
                        <input
                                type="text"
                                class="form-control {% if form.url_text.errors %}border-danger{% endif %}"
                                name="{{ form.url_text.name }}"
                                id="{{ form.url_text.id_for_label }}"
                                value="{{ form.url_text.value|default:'' }}"
                                placeholder="Text showed for Url">
                        {% if form.url_text.errors %}
                            <div class="form_field_error text-danger form-input-error">{{ form.url_text.errors|join:" " }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group p-md-3 p-2 mb-4 border border-dark">
                        <label for="{{ form.content.id_for_label }}">Content</label>
                        <textarea class="form-control {% if form.content.errors %}border-danger{% endif %}"
                                  name="{{ form.content.name }}"
                                  id="{{ form.content.id_for_label }}">{{ form.content.value|default:'' }}</textarea>

                        {% if form.content.errors %}
                            <div class="form_field_error text-danger form-input-error">{{ form.content.errors|join:" " }}</div>
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_js %}
    {% with selectors='#'|add:form.content.id_for_label %}
        {% include 'snippets/tinymc-init.html' %}
    {% endwith %}
{% endblock %}
