{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}{{ action }} Page | {{ block.super }}{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dashboard:all_pages' %}">Page</a></li>
    <li class="breadcrumb-item active">{{ action }} Page</li>
{% endblock %}

{% block head_css %}
    <style>
    svg {
        width: 50px;
        height: 50px;
    }
    </style>
{% endblock %}

{% block dashboard_content %}
    <div class="container">
        <div class="row justify-content-md-center align-items-center">
            <div class="col-12">
                <h1>{% if action.lower == 'create' %}Add New{% else %}Edit{% endif %} page</h1>
                <form method="post" ref="main_form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="form-group">
                        <label for="{{ form.title.id_for_label }}">Page Title</label>
                        <input
                                type="text"
                                class="form-control {% if form.title.errors %}border-danger{% endif %}"
                                name="{{ form.title.name }}"
                                id="{{ form.title.id_for_label }}"
                                value="{{ form.title.value|default:'' }}"
                                placeholder="Title">

                        {% if form.title.errors %}
                            <div class="form_field_error text-danger form-input-error">{{ form.title.errors|join:" " }}</div>
                        {% endif %}
                    </div>
                
                    <div class="form-group">
                        <label for="{{ form.content.id_for_label }}">Page Content</label>
                        <textarea
                                class="form-control {% if form.content.errors %}border-danger{% endif %}"
                                name="{{ form.content.name }}"
                                id="{{ form.content.id_for_label }}">{{ form.content.value|default:'' }}</textarea>

                        {% if form.content.errors %}
                            <div class="form_field_error text-danger form-input-error">{{ form.content.errors|join:" " }}</div>
                        {% endif %}
                    </div>
                
                    <div class="form-group">
                        <label for="{{ form.template_file.id_for_label }}">Template File</label>
                        <select name="{{ form.template_file.html_name }}" id="{{ form.template_file.id_for_label }}">
                            <option selected>---</option>
                            {% for val, opt in form.fields.template_file.choices %}
                                <option value="{{ val }}" {% if form.template_file.value == val %}selected{% endif %}>{{ opt }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="hidden" name="all_items" :value="all_items_json"> {# saving page contents #}
                    <button type="submit" class="btn btn-success" @click.prevent="before_submit">Save</button>
                </form>
            </div>
        </div>
    </div>

    <hr class="my-5">

    <page-item-list></page-item-list>

    <hr class="my-5">

    {% comment %}<page-item-icon></page-item-icon>{% endcomment %}

{% endblock %}


<!--
ItemTwoColumn
    title
    img
    content
    url
    url_text
-->
<!--
ItemGuide
    url
    url_text -->


{% block vue_templates %}
    <script type="text/x-template" id="list-template">
        <div class="container">
            <div id="list-item">
                <div class="row">
                    <div class="col-md-4 mb-5" v-for="item in $parent.item_list">
                        <div class="card w-100">
                            <img v-if="item.icon_type=='img'" class="card-img-top" :src="item.img_icon" alt="Card image cap">
                            <div style="height: 50px;" class="mx-auto p-4" v-else-if="item.icon_type=='svg'" v-html="item.svg_icon"></div>
                            <div class="card-body">
                                <div>ID: [[ item.id ]]</div>
                                <div>URL: [[ item.url ]]</div>
                                <div class="card-text" v-html="item.content"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <b-btn v-b-modal.item_list_form_modal>New List</b-btn>
                <b-modal id="item_list_form_modal" centered title="Add new List" ref="item_list_form_modal"
                         @ok="handle_ok" {# when pressing ok button, prevent empty input #}
                         @shown="clear_form"> {# when showing modal, clear the form #}
                    <form class="qt-dsb-item-form" id="qt-dsb-item-list-form">
                        <div class="form-group">
                            <label for="{{ item_list_form.icon.id_for_label }}">Icon</label>
                            <select name="{{ item_list_form.icon.html_name }}" id="{{ item_list_form.icon.id_for_label }}" class="form-control">
                                {% for val, opt in item_list_form.fields.icon.choices %}
                                    <option value="{{ val }}" {% if item_list_form.icon.value == val %}selected{% endif %}>{{ opt }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="{{ item_list_form.url.id_for_label }}">Url</label>
                            <b-form-input id="{{ item_list_form.url.id_for_label }}" type="text" placeholder="Enter url"
                                          name="{{ item_list_form.url.html_name }}"></b-form-input>
                        </div>
                        <div class="form-group">
                            <label for="item-list-content">Content</label>
                            <textarea id="item-list-content" name="{{ item_list_form.content.html_name }}"></textarea>
                        </div>
                    </form>
                </b-modal>
            </div>
        </div>
    </script>

    {% comment %}<script type="text/x-template" id="icon-template">
        <div class="container">
            <div id="icon-item">
                <div class="row">
                    <template v-for="item in $parent.item_icon">
                        <div class="col-md-4 mb-5">
                            <div class="card w-100">
                                <img class="card-img-top" :src="item.img" alt="Card image cap">
                                <div class="card-body">
                                    <div>ID: [[ item.id ]]</div>
                                    <div>Title: [[ item.title ]]</div>
                                    <div class="card-text" v-html="item.content"></div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>

                <b-btn v-b-modal.item_icon_form_modal>New Icon</b-btn>
                <b-modal id="item_icon_form_modal" centered title="Add new Icon" ref="item_icon_form_modal"
                         @ok="handle_ok" {# when pressing ok button, prevent empty input #}
                         @shown="clear_form"> {# when showing modal, clear the form #}
                    <form class="qt-dsb-item-form" id="qt-dsb-item-icon-form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="{{ item_icon_form.title.id_for_label }}">Icon Title</label>
                            <b-form-input id="{{ item_icon_form.title.id_for_label }}" type="text" placeholder="Icon Name"
                                          name="{{ item_icon_form.title.html_name }}"></b-form-input>
                        </div>
                        <div class="form-group">
                            <label for="{{ item_icon_form.icon_type.id_for_label }}">Icon Type</label>
                            <select name="{{ item_icon_form.icon_type.html_name }}" id="{{ item_icon_form.icon_type.id_for_label }}" class="form-control" v-model="icon_type">
                                {% for val, opt in item_icon_form.fields.icon_type.choices %}
                                    <option value="{{ val }}" {% if item_icon_form.icon_type.value == val %}selected{% endif %}>{{ opt }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group" v-if="icon_type == 'svg'">
                            <label for="{{ item_icon_form.svg_icon.id_for_label }}">SVG Icon</label>
                            <textarea id="{{ item_icon_form.svg_icon.id_for_label }}" class="form-control" name="{{ item_icon_form.svg_icon.html_name }}"></textarea>
                        </div>
                        <div class="form-group" v-if="icon_type == 'img'">
                            <label for="{{ item_icon_form.img_icon.id_for_label }}">Image File</label>
                            <b-form-file id="{{ item_icon_form.img_icon.id_for_label }}" placeholder="Inser image file"
                                          name="{{ item_icon_form.img_icon.html_name }}" accept="image/*"></b-form-file>
                        </div>
                    </form>
                </b-modal>
            </div>
        </div>
    </script>{% endcomment %}
{% endblock %}


{% block bottom_js %}
    {% with selectors='#item-list-content, #'|add:form.content.id_for_label %}
        {% include 'snippets/tinymc-init.html' %}
    {% endwith %}

    <script src="{% static 'jquery/jquery-ajax-only.min.js' %}"></script>

    <script>
        var toJSONString = function (form) {
            var obj = {};
            var elements = form.querySelectorAll("input, select, textarea");
            for (var i = 0; i < elements.length; ++i) {
                {#console.error(elements[i].name)#}
                var element = elements[i];
                var name = element.name ? element.name : 'null';
                obj[name] = element.value;
            }
            return obj;
        };

        all_components['page-item-list'] = {
            delimiters: ['[[', ']]'],
            data: function () {
                return {
                    form_data: {},
                }
            },
            methods: {
                handle_ok: function (e) {
                    // Prevent modal from closing
                    e.preventDefault();
                    var _t = this;
                    _t.form_data = toJSONString(document.getElementById('qt-dsb-item-list-form'));
                    if (_t.form_data) {
                        $.ajax({
                            url: '/dashboard/ajax_item_list_save/',
                            method: 'get',
                            dataType: 'json',
                            data: _t.form_data,
                            success: function (data) {
                                if(data.success){
                                    _t.$parent.item_list.push(data.data);
                                    _t.form_data = {};
                                } else {
                                    console.error("WTF ERROR!!");
                                    _t.form_data = {};
                                }
                            },
                            error: function (err) {
                                console.error(err);
                                _t.form_data = {};
                            }
                        });
                    } else{
                        console.error("Enter form data");
                    }
                    this.$refs.item_list_form_modal.hide();
                },
                clear_form: function () {
                    document.getElementById('qt-dsb-item-list-form').reset()
                }
            },
            created: function () {
                
            },
            template: '#list-template'
        };

        {% comment %}all_components['page-item-icon'] = {
            delimiters: ['[[', ']]'],
            data: function () {
                return {
                    form_data: {},
                    icon_type: "{{ item_icon_form.icon_type.value|default:'img' }}",
                }
            },
            watch: {
                icon_type: function (val, old_val) {
                    if (val === 'svg') {
                        document.getElementById('{{ item_icon_form.img_icon.id_for_label }}').value = '';
                    } else if(val === 'img') {
                        document.getElementById('{{ item_icon_form.svg_icon.id_for_label }}').value = '';
                    }
                }
            },
            methods: {
                handle_ok: function (e) {
                    // Prevent modal from closing
                    e.preventDefault();
                    var _t = this;
                    var icon_form = document.getElementById('qt-dsb-item-icon-form');
                    _t.form_data = toJSONString(icon_form);
                    if (_t.form_data) {
                        $.ajax({
                            url: '/dashboard/ajax_item_icon_save/',
                            method: 'post',
                            processData: false,
                            contentType: false,
                            data: new FormData(icon_form),
                            enctype: 'multipart/form-data',
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                            },
                            success: function (data) {
                                if(data.success){
                                    _t.form_data.id = data.item_icon_id;
                                    _t.$parent.item_icon.push(_t.form_data);
                                    _t.form_data = {};
                                } else {
                                    console.error("WTF ERROR!!");
                                    _t.form_data = {};
                                }
                            },
                            error: function (err) {
                                console.error(err);
                                _t.form_data = {};
                            }
                        });
                    } else{
                        console.error("Enter form data");
                    }
                    this.$refs.item_icon_form_modal.hide();
                },
                clear_form: function () {
                    document.getElementById('qt-dsb-item-list-form').reset()
                }
            },
            created: function () {
                
            },
            template: '#icon-template'
        };{% endcomment %}
    </script>
{% endblock %}


{% block bootstrap_vue_init %}
    <script type="text/javascript">
        /****************
         * bootstrap-vue *
         *****************/
        // this should be initialized at last.
        new Vue({
            delimiters: ['[[', ']]'],
            data: {
                all_items_json: '',
                item_list: [],
            },
            methods: {
                before_submit: function () {
                    var json = {};
                    json.item_list = this.item_list.map(itm => itm.id);
                    this.all_items_json = JSON.stringify(json);
                    console.log(this.all_items_json);
                    this.$nextTick(() => {
                        this.$refs.main_form.submit();
                    });
                },
            },
            created: function () {
                {% if item_data.lists %}
                    this.item_list = [{% for il in item_data.lists %}{
                        id: "{{ il.id }}",
                        svg_icon: `{{ il.icon.svg_icon|safe|default:'' }}`,
                        img_icon: "{% if il.icon.img_icon %}{{ il.icon.img_icon.url }}{% endif %}",
                        icon_type: "{{ il.icon.icon_type }}",
                        content: `{{ il.content|safe|default:'' }}`,
                        url: "{{ il.url }}",
                    },{% endfor %}];
                {% endif %}
            },
            components: all_components,
        }).$mount('#bootstrap-vue');
    </script>
{% endblock %}