{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}{{ action }} Page Item: List | {{ block.super }}{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dashboard:all_pages' %}">Page</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dashboard:all_lists' %}">Page Item: List</a></li>
    <li class="breadcrumb-item active">{{ action }} List</li>
{% endblock %}

{% block dashboard_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{% if action.lower == 'create' %}Add New{% else %}Edit{% endif %} list item</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="form-group p-md-3 p-2 mb-4 border border-dark">
                        <label for="{{ form.url.id_for_label }}">Url</label>
                        {% comment %}<input
                                type="text"
                                class="form-control {% if form.url.errors %}border-danger{% endif %}"
                                name="{{ form.url.name }}"
                                id="{{ form.url.id_for_label }}"
                                value="{{ form.url.value|default:'' }}"
                                placeholder="/url-friendly/text-only/allowed/">{% endcomment %}
                        <select name="{{ form.url.html_name }}" id="{{ form.url.id_for_label }}" class="form-control" value="{{ form.url.value|default:'' }}">
                            <option selected="selected" disabled="disabled">----</option>
                            {% for val, opt in form.fields.url.choices %}
                                <option value="{{ val }}" {% if form.url.value == val %}selected{% endif %}>{{ opt }}</option>
                            {% endfor %}
                        </select>

                        {% if form.url.errors %}
                            <div class="form_field_error text-danger form-input-error">{{ form.url.errors|join:" " }}</div>
                        {% endif %}
                    </div>
                
                    <div class="form-group p-md-3 p-2 mb-4 border border-dark">
                        <label for="{{ form.icon.id_for_label }}">Icon</label>
                        <on-change-icon-show></on-change-icon-show>
                    </div>

                    <div class="form-group p-md-3 p-2 mb-4 border border-dark">
                        <label for="{{ form.content.id_for_label }}">List Content</label>
                        <textarea
                                class="form-control {% if form.content.errors %}border-danger{% endif %}"
                                name="{{ form.content.name }}"
                                id="{{ form.content.id_for_label }}">{{ form.content.value|default:'' }}</textarea>

                        {% if form.content.errors %}
                            <div class="form_field_error text-danger form-input-error">{{ form.content.errors|join:" " }}</div>
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block vue_templates %}
    <script type="text/x-template" id="change_icon-template">
        <div>
            <select name="{{ form.icon.html_name }}" id="{{ form.icon.id_for_label }}" class="form-control" v-on:change="change_icon($event)">
                <option selected="selected" disabled="disabled">----</option>
                {% for val, opt in form.fields.icon.choices %}
                    <option value="{{ val }}" {% if form.icon.value == val %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
            </select>
            <div v-html="selected_icon"></div>
        </div>
    </script>
{% endblock %}

{% block bottom_js %}
    {% with selectors='#'|add:form.content.id_for_label %}
        {% include 'snippets/tinymc-init.html' %}
    {% endwith %}

    <script>
        all_components['on-change-icon-show'] = {
            delimiters: ['[[', ']]'],
            data: function () {
                return {
                    icons: {
                        {% for ic in icons %}
                            "{{ ic.id }}": `{% if ic.icon_type == 'img' %}<img width='100' src='/media/{{ ic.img_icon }}'/>{% else %}{{ ic.svg_icon|safe|default:'' }}{% endif %}`,
                        {% endfor %}
                    },
                    selected_icon: ``,
                }
            },
            methods: {
                change_icon: function (e) {
                    this.selected_icon = this.icons[e.target.value];
                },
            },
            created: function(){
                this.selected_icon = {% if form.icon.value %}this.icons['{{ form.icon.value }}']{% else %}""{% endif %};
            },
            template: '#change_icon-template'
        };
    </script>
{% endblock %}

