<div class="col-xs-12 col-md-4 nahq-plan-same-height">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                Affordability
            </p>
        </div>
        <div class="back">
            <p>
                With benefits comparable with a major medical insurance plan,
                short-term medical (STM) insurance provides coverage that is
                designed for your needs, peace of mind, and financial well-being
                from the ever-rising costs of healthcare expenses.
            </p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4 nahq-plan-same-height">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                Financial Strength
            </p>
        </div>
        <div class="back">
            <p>
                Everest STM is underwritten by the Everest Reinsurance Company,
                and it is rated A+ Superior by the A.M. Best Company (9/9/15).A.M. Best
                is an independent global rating organization that examines insurance
                companies and publishes its opinion on their financial strength.
            </p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4 nahq-plan-same-height">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                Network
            </p>
        </div>
        <div class="back">
            <p>
                {% comment %}
                Your Everest STM will provide you access to the {#  MultiPlan Complementary #} Network,
                a nationwide network that offers the freedom to visit any one of 750,000 providers
                in the country. Even if your doctor is not part of the {# MultiPlan Complementary #} Network,
                the doctor's office can still file a claim on your behalf.
                {% endcomment %}

                One of the popular aspects of short-term medical insurance plans is
they do not confine you to a specific network. In other types of major medical
plans if a member seeks services outside of the network they either have a
higher percentage of cost shares or they have to pay the full claim themselves.
Your Everest Prime STM does not confine you to a specific network. Everest
Prime plan pays up to 150%* of Medicare allowable expenses.
*Actual amount may be greater in some states. The coverage is subject to the language of the
policy as issued.
            </p>
        </div>
    </div>
</div>