<div class="col-xs-12 col-md-4">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                No deductible for Urgent Care Visits
            </p>
        </div>
        <div class="back">
            <p>
                Urgent care facility visits NOT subject to deductible.
                During your coverage period, Urgent Care Facility visits
                are not subject to the deductible, and after the $50
                Co-pay is paid at the coinsurance rate.
            </p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                Freedom to choose any doctor or hospital
            </p>
        </div>
        <div class="back">
            <p>
                Choose your own doctors and hospitals with no network restrictions.
            </p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                Emergency Room coverage
            </p>
        </div>
        <div class="back">
            <p>
                Emergency room treatment for covered medical expenses
                (additional $250 deductible for sickness if not admitted).
            </p>
        </div>
    </div>
</div>