<div class="col-xs-12 col-md-4">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                Maximum Rate Lock Coverage Period
            </p>
        </div>
        <div class="back">
            <p>
                Most Short Term Health Insurance Plans expire after 6 months,
                but with this plan, you can protect yourself and
                lock-in your monthly premium for the maximum
                coverage period available, 11 months.
            </p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                Unlimited Doctor Office visits for $25 Copay per visit
            </p>
        </div>
        <div class="back">
            <p>
                During your coverage period, you can make an unlimited
                number of Doctor Office visits for a predictable $25 copay
                per visit, no deductible or coinsurance. Specialist
                Office visits are $40 Copay per visit.
            </p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                Freedom to choose any doctor or hospital
            </p>
        </div>
        <div class="back">
            <p>
                Choose your own doctors and hospitals with no network restrictions.
            </p>
        </div>
    </div>
</div>