<div class="col-xs-12 col-md-4">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                No deductible for Doctor's Office and Urgent Care Visits
            </p>
        </div>
        <div class="back">
            <p>
                Doctor's office and Urgent care facility visits NOT subject to deductible.
                During your coverage period, Urgent Care Facility visits are not subject to
                the deductible, and after the $50 Co-pay is paid at the coinsurance rate.
            </p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                High Lifetime Maximum of $750,000!
            </p>
        </div>
        <div class="back">
            <p>
                This plan pays among the highest maximum amount for
                the coverage period of any term health insurance plan available.
                The insurance company for this plan is rated A+ with AM Best,
                the leading provider of ratings for the insurance industry.
            </p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                Freedom to choose any doctor or hospital
            </p>
        </div>
        <div class="back">
            <p>
                Choose your own doctors and hospitals with no network restrictions.
            </p>
        </div>
    </div>
</div>