<div class="col-xs-12 col-md-4 nahq-plan-same-height">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                Affordability
            </p>
        </div>
        <div class="back">
            <p>
            {#TODO#}
            {% comment %}With benefits comparable with a major medical insurance plan,
                limited health insurance provides coverage that is
                designed for your needs, peace of mind, and financial well-being
                from the ever-rising costs of healthcare expenses.{% endcomment %}
            </p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4 nahq-plan-same-height">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                Financial Strength
            </p>
        </div>
        <div class="back">
            <p>
            {#TODO#}
            {% comment %}
                Cardinal limited health is underwritten by the FEDERAL INSURANCE COMPANY,
                and it is rated A+ Superior by the A.M. Best Company (9/9/15).A.M. Best
                is an independent global rating organization that examines insurance
                companies and publishes its opinion on their financial strength.{% endcomment %}
            </p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4 nahq-plan-same-height">
    <div class="plan-content">
        <div class="front">
            <span class="fa fa-check"></span>
            <p class="details-flip-label">
                Network
            </p>
        </div>
        <div class="back">
            <p>
                {#TODO#}
                {% comment %}
                Your Everest STM will provide you access to the {#  MultiPlan Complementary #} Network,
                a nationwide network that offers the freedom to visit any one of 750,000 providers
                in the country. Even if your doctor is not part of the {# MultiPlan Complementary #} Network,
                the doctor's office can still file a claim on your behalf.
                {% endcomment %}
                {% comment %}Persons insured under this plan may choose to be treated within, or out of, the MultiPlan PPO Network. MultiPlan consists of hospitals,
                physicians, and other health care providers who have contracted to provide specific medical care at negotiated prices.{% endcomment %}

            </p>
        </div>
    </div>
</div>