{% extends 'post/base.html' %}
{% load static %}
{% load qturbo_post_tags %}

{% block main_content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-1 d-none d-lg-block">
                <div class="d-flex flex-column">
                    {% with ''|center:'4' as range %}
                        {% for _ in range %}
                            <div class="mb-3">
                                <a href="#" class="social-icon ">
                                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583
                                                    298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                                    </svg>
                                </a>
                            </div>
                        {% endfor %}
                    {% endwith %}
                </div>

            </div>
            <div class="col-md-8 pr-5">

                {# THIS IS TEST TEMPLATE #}

                <div class="">
                    <a href="#" class="d-flex flex-row">


                        <img src="{% static 'post/img/advice.svg' %}" alt="" style="height: 20px;width: 20px">
                        <p class="font-14 ml-2">Advice</p>


                    </a>
                    <h1 class="font-wight-700 font-xl">{{ blog.title }}</h1>
                    <div class="my-4">
                        <p class="mb-1">by
                            <a href="#" target="" class="mx-2">Mr. Lorem</a>
                            <span class="font-14"> Health Insurance Health Insurance Company</span>
                        </p>
                        <div class="d-flex flex-row ">
                            <p>Updated : December, 01, 2018</p>
                            <p class="font-14 ml-4">Published : September, 01, 2018</p>

                        </div>

                    </div>
                    <div class="">
                        {% if blog.feature_img %}
                            <img src="{{ blog.feature_img.url }}" alt="" class="mb-4">
                        {% endif %}
                        {{ blog.content|safe }}
                        <hr class="my-4">
                    </div>
                    <div id="author" class="d-flex flex-row">
                        <div class="author-img mr-3">
                            <img src="{% static 'post/img/author.jpg' %}" alt="" class="rounded-circle">
                        </div>
                        <div class="about-author">
                            <p class="font-14 mb-1">About the author</p>
                            <a href="#"><h4 class="">Mr.Lorem</h4></a>
                            <p class="">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit </p>
                            <p class="font-14 ">Latest article by Mr.Lorem</p>
                            <div class="latest-article">
                                {% with ''|center:'4' as range %}
                                    {% for _ in range %}
                                        <a href="" class=""><p class="text-dark">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit</p></a>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="">
            </div>
            <div class="col-md-3">
                <div class="border rounded border-bottom-0">
                    <h4 class="py-4 ml-4 font-weight-bold">Related Posts</h4>
                    <div class="related-post ">
                        {% with ''|center:'8' as range %}
                            {% for _ in range %}
                                <a href="" class=""><h6 class="text-dark font-weight-bold py-2 border-bottom px-4">Top
                                    10 Procedures to Help</h6></a>
                            {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" linear-gradient">
        <div class="container text-center py-5 ">
            <h2 class="text-white">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt"</h2>
        </div>
    </div>
    <div class="container my-5">
        <h2 class="text-center mb-5">More Article in Health Insurance</h2>
        <div class="row">
            {% with ''|center:'4' as range %}
                {% for _ in range %}
                    <div class="col-md-4">

                        <div class="card hi-article mb-4">
                            <a href="#">
                                <img class="card-img-top" src="{% static 'post/img/author.jpg' %}" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <a href="#" class="d-flex flex-row">
                                    <img src="{% static 'post/img/advice.svg' %}" alt=""
                                         style="height: 20px;width: 20px">
                                    <p class="font-14 ml-2">Advice</p>
                                </a>
                                <a href="#"><h5 class="card-title text-dark">Top 10 Procedures to Help</h5></a>
                                <h6 class="card-subtitle my-4 text-muted">Last Updated: 12/08/2018</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of
                                    the card's content.</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}
        </div>
        <div class="text-center">
            <a href="#">
                <button class="btn btn-primary p-3 font-weight-bold">More in Health Insurance</button>
            </a>
        </div>
    </div>

{% endblock %}